<div id="collections">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>Choose a program</h3>
                <p>Once you've decided what you would like your group to sell, we'll help you set up an online fundraising page in minutes!</p>
            </div>
        </div>

        <div class="row">
            <% @collections.each do |collection| %>
            <div class="col-md-4">
                <div class="well">
                    <a href="<%= collection_path(collection) %>">
                        <div class="collection-image-container">
                            <%= cl_image_tag collection.picture, width: 200, height: 200, crop: :limit, class: 'img-responsive' %>
                            <h4><%= collection.name %></h4>
                        </div>
                    </a>
                </div>
            </div>
            <% end %>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center; padding: 40px">
                    <p>Don't see a program that's a good fit for your group?  Get in touch!  We work with lots of groups on custom campaigns.</p>
                    <%= link_to "Let's Talk", '#', class: 'btn btn-primary launch-invite-modal' %>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="invite-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-header-purple">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Get in touch!</h4>
        </div> <!-- /.modal-header -->

        <form role="form" class="invite-form" data-type="modal-form">
        <div class="modal-body">
            <p style="margin-bottom: 20px;">Currently we're working closely with schools to help refine our programs and we'd love to help you!</p>
              <div class="form-group">
                <label for="nameInput" class="control-label">Name</label>
                <input type="name" class="form-control" id="nameInput" placeholder="Name" name="invite[name]">
              </div>
              <div class="form-group">
                <label for="emailInput" class="control-label">E-Mail</label>
                <input type="email" class="form-control" id="emailInput" placeholder="E-Mail" name="invite[email]">
              </div>
              <div class="form-group">
                <label for="orgInput" class="control-label">Organization</label>
                <input type="organization" class="form-control" id="orgInput" placeholder="School, Organization, Team" name="invite[organization]">
              </div>
                <input type="hidden" name="invite[source]" value="collection">
                <input type="hidden" id="invite_collection_id" name="invite[collection_id]" value="0"/>
            <p class="error-message" style="display: none">Hmm, there was a problem with your entries, please try again!</p>
        </div> <!-- end of modal body -->

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                <span class="text">Submit</span> <span class="loader" style="display:none"></span>
            </button>
        </div> <!-- /.modal-footer -->
        </form>

        <div class="success-message" style="display: none">
            <div class="modal-body">
                Thanks, we'll get back to you within 1 day!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"><span>Close</span></button>
            </div>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
