<div id="all_report_container" style="padding-bottom:80px;">
  <div style="width:90%; max-width:1280px; margin:auto;">
    <div class="container">
      <h3>分享统计报表</h3>
    </div>

    <div style="margin-top:30px;">
      <%= render "report_criteria" %>
    </div>

    <div class="all_report_loader" style="display:none; margin-top:40px; text-align:center;">
      <h4>Loading report ...</h4><span class="loader loader-black"></span>
    </div>

    <div id="activity_report_download" style="display:none; text-align:right; margin-top:10px;">
      <a id="activity_report_download_link" href="">Request download</a>&nbsp;
      <span class="loader loader-black add-report-download-loader" style="display:none;"></span>
    </div>
    <div id="activity_report_content" style="margin-top:5px;">
      <%= render "report_content" %>
    </div>
  </div>
</div>


<script language="javascript" type="text/javascript">

//$("#from_date").val($.datepicker.formatDate(ISO_8601, new Date(new Date().getTime()-6*86400000)));
//  $("#to_date").val($.datepicker.formatDate('D, M d, yy', new Date()));
//  $("#from_date").pickadate();
//  $("#to_date").pickadate();

  $(function () {
    bind_pager_click();
    function bind_pager_click()
    {
      var pagers=$("div#page_pager .pagination span a");
      pagers.each(function(){
        var url=this.href;
        this.href="javascript:void(0);";
        $(this).off("click").on("click", function(){
          $("div.all_report_loader").show();
          $("#activity_report_content").html("");
          load_download_pagedata(url);
        });
      });
    }

    $("#run_report").bind('click', function () {

      $("div.all_report_loader").show();
      $("#activity_report_content").html("");
      var url='<%=admin_reports_campvisit_log_report_search_path %>';
      load_download_pagedata(url);
    });
    function  load_download_pagedata(url)
    {
      var campagin_id= $("#all_report_product_selector").val();
      var from_date=$("#from_date").val();
      var to_date=$("#to_date").val();
      $.post(url,{ campagin_id:campagin_id, from_date:from_date, to_date:to_date }).success(function (data, textStatus, jqXHR) {
        $("#activity_report_content").html(data);
        bind_pager_click();
      }).error(function() {
        alert("请求已经结束但是可能发生了错误！");
      }).complete(function() {
        $("div.all_report_loader").hide();
      });
    }
  });
</script>
