<!DOCTYPE html>
<html>
<head>
    <meta content="IE=11.0000"
        http-equiv="X-UA-Compatible">

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="wap-font-scale" content="no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="applicable-device" content="pc, mobile">
    <!--移动设备标签-->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <title>《小“鬼”当家》科学亲子剧免费体验官</title>
    <!--SEO 结束-->
    <link href="https://res.shixijob.net/favicon.ico" rel="shortcut icon">
    <link href="https://res.shixijob.net/favicon.png" rel="icon" type="image/png">
    <link rel="stylesheet" media="all" href="/fancyassets/lottery.min.css">

    <meta name="GENERATOR" content="MSHTML 11.00.9600.17420">
</head>
<body>
    <div class="form">
        <div class="container-700">
            <div class="box">
                <section class="content">
                    <div class="hd">
                        <h2 class="title">《小“鬼”当家》科学亲子剧免费体验官</h2>
                        <div class="desc">
                            <p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box;'>
                                <span
                                    style="color: rgb(255, 255, 255);"><span style="background-color: rgb(31, 73, 125);"><strong>《小“鬼”当家》门票免费领取&nbsp;</strong></span></span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">
                                    <br>
                                </span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">演出地址：上海黄浦剧场</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;"><span
                                        style='text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);'>报名截止时间：2018.7.22 21:00</span></span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">
                                    <br>
                                </span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">第①步：请将周四文章</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;"><span
                                        style='text-align: center; color: rgb(128, 0, 0); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);'>《在魔都你即将错过什么？一场100%全场互动的科学亲子剧》</span></span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">分享至朋友圈</span><span
                                        style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;"><span style='color: rgb(255, 153, 0);'>10分钟以上（不分组，不秒删）</span>并获得<span
                                            style="color: rgb(255, 153, 0);">10个赞</span>。</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">在转发时请附上文字</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
								<span
	                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">“魔都最热科学亲子剧《小鬼当家》免费送票啦，文末有领取规则，每日送票2张，持续4天！”</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">并对转发的文章进行<span style="color: rgb(128, 0, 0);">截图</span>。</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">
                                    <br>
                                </span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">第②步：</span><span
                                        style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">添加客服微信</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <img src="/fancyassets/images/qiqi.jpg" style="width:50%;" />
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">客服1：微信号FancyLab_qiqi</span>
                            </p>
							
							
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <br>
                            </p>
							
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <img src="/fancyassets/images/miaomiao.jpg" style="width:50%;" />
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">客服2：微信号FancyLab_miaomiao</span>
                            </p>
							
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <br />
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <br>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">将截图发送给任意客服</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">客服将审核后，拉入抽奖福利群</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; box-sizing: border-box;">7.19-7.22日每晚21：30开奖送门票两张</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <br>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(127, 127, 127); font-size: 11px; box-sizing: border-box;">注意：</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(127, 127, 127); font-size: 11px; box-sizing: border-box;">1. 
发送客服前请检查截图是否符合抽奖条件</span><span style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(127, 127, 127); font-size: 11px; box-sizing: border-box;">。</span>
                            </p>
                            <p style='padding: 5px 0px; outline: 0px; border: 0px currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif; font-size: 14px; margin-top: 0px; margin-bottom: 0px; white-space: normal; box-sizing: border-box; background-color: rgb(255, 255, 255);'>
                                <span
                                    style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(127, 127, 127); font-size: 11px; box-sizing: border-box;">2. 
                                    据说赞越多，获得门票的机会越大哦~</span>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </section>
                <footer class="footer">
                    <div class="copyright">
                        <span>奇妙实验室</span>
                        <span><a href="http://www.miitbeian.gov.cn/" target="_blank"
                            rel="nofollow">@ 2015-2018 All Rights Reserved.</a></span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
