<style>
  .agreement {
    color: #6e645f;
    font-size: 13px;
    padding: 0 10px 0 10px;;
  }

  .agreement p {
    text-align: left;
    line-height: 2;
  }

  .agreement .agreement_title {
    color: #333;
    display: block;
    font-size: 14px;
  }
</style>
<div class="agreement">
  <p style="text-align: center;font-weight: bold;font-size: larger;color: #333;">服务协议</p>

  <p>
    &nbsp;&nbsp;“守护绿色，有我”活动（简称“活动”）是凡益信息科技(上海) 有限公司推出的活动。本协议双方为凡益信息科技(上海)有限公司（简称“11号公益圈”）与活动参与人（简称“您”或“用户”）。
    在您参与活动之前，请务必认真阅读本协议的全部内容。本协议一经您点击确认并同意接受，即在您与11号公益圈之间产生法律效力。
  </p>

  <p>
    <span class="agreement_title">一、 定义</span>
    1、“守护绿色，有我”活动：结合植树节宣传环保理念并宣传推广环保类公益组织而利用微信平台进行传播的脸上画树活动
    <br/>
    2、活动参与人：通过点击“守护绿色，有我”活动页面并参与活动的个人
  </p>

  <p>
    <span class="agreement_title">二、本协议的构成及效力</span>
    1、所有11号公益圈已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力。
    <br/>
    2、11号公益圈有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在11号公益圈网站上公示，即发生法律效力。
    <br/>
    3、在使用11号公益圈提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向11号公益圈咨询。本协议生效后，您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议。
    <br/>
    4、您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用11号公益圈针对活动参与人提供的服务。如您继续使用11号公益圈针对活动参与人提供的服务，则表示您同意并接受本协议及各类规则的约束。
  </p>

  <p>
    <span class="agreement_title">三、活动参与人的资格</span>

    1、作为活动参与人，您应完全理解并接受本协议。
    <br/>
    2、作为活动参与人的个人，应为年满18周岁并具有完全民事行为能力和民事权利能力的自然人，如活动参与人未满18周岁，应由其监护人代为履行本协议权利和义务。无民事行为能力人、限制民事行为能力人不当成为活动参与人或超过其民事权利或行为能力范围参与活动的，其与11号公益圈之间的服务条款自始无效，11号公益圈一经发现，有权立即注销该用户，并追究其使用11号公益圈“服务”的一切法律责任。
    <br/>
    3、您应开通微信支付功能并保证拥有支付至少拾元人民币的能力。
    <br/>
    4、您应授权使用您的微信账户登陆11号公益圈并妥善保管您的微信账户用户名和密码，凡使用您的微信账户登陆11号公益圈进行的一切操作，均视为您本人的行为，一切责任由您本人承担。11号公益圈无法对非法或未经用户授权使用您微信账户的行为作出甄别，因此11号公益圈不承担任何责任。
  </p>

  <p>
    <span class="agreement_title">四、用户权利与义务</span>

    1、用户如果需要使用11号公益圈服务，必须满足以下条件：
    <br/>
    （1）用户需拥有或有权使用参与活动的终端设备；
    <br/>
    （2）能够连接上互联网，并自行负担上网所需的各项费用；除了在本协议内所提及的款项之外，用户必须自行负担全部所需的硬件费用、软件费用、网络服务费用以及相关的税收。
    <br/>
    2、用户可以凭自己的判断参与通过11号公益圈发布的活动，所发生的一切纠纷及损失与11号公益圈无关，11号公益圈不会对相关的纠纷或损失承担任何责任。用户参与活动时应当多方面主动了解活动组织者或组织单位的资质及信用信息，自行鉴别信息的真伪，并为自己的行为负责。
    <br/>
    3、用户有权利知道公益组织及活动的信息。用户有权利从公益组织处得知自己的捐款去向。
    <br/>
    4、用户参与活动的过程中应遵循诚实信用的原则、遵守社会公德及公序良俗原则，不得扰乱活动的正常进行，不进行与活动无关的行为或进行其他任何违法行为。
    <br/>
    5、用户使用11号公益圈服务时实施的所有行为均应遵守国家法律、法规和11号公益圈的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任。
    <br/>
    6、用户不得对11号公益圈上任何信息做商业性利用。
  </p>

  <p>
    <span class="agreement_title">五、特别条款（请用户特别注意）</span>
    1、11号公益圈不负责公益组织善款的使用、归集、审核、开具发票等任何与善款有关的行动，如因善款问题导致的争议，用户应根据法律规定与相应机构或者组织协商或者通过法律途径解决。
    <br/>
    2、用户需仔细阅读11号公益圈网站上的任何网站声明、项目介绍、免责声明、商家声明等协议或者声明等具有法律约束性的文件。
    <br/>
    3、用户参与任何活动前应仔细阅读相关资料，任何参与活动行为均视为用户已完全了解项目资料。
  </p>

  <p>
    <span class="agreement_title">六、协议终止</span>
    1、以下任一情形出现，本协议即终止
    <br/>
    （1）您本人不同意接受本协议约定（含11号公益圈发布的各类规则），并停止使用11号公益圈针对活动参与人提供的服务的；
    <br/>
    （2）您不符合本协议约定的活动参与人应具备的资格的；
    <br/>
    （3）其他原因导致本协议终止的。
    <br/>
    2、本协议终止后，不影响您因在本协议终止前的行为应承担的义务和责任。
  </p>

  <p>
    <span class="agreement_title">七、本协议的解释权归凡益信息科技(上海)有限公司所有。</span>
  </p>
</div>