<div>
	视频：
</div>
<div>
	<video controls="true" height="320" src="/assets/<%= @file_name %>" width="240" webkit-playsinline>
	</video>
</div>
<div>
	<%= @nick_name %>
</div>
<div>
	<%= @avatar_url %>
</div>