<div>
	视频：
</div>
<div>
		
		<video width="320" height="240" controls="controls">
		  <source src="/assets/movie.mp4" type="video/mp4" />
		</video>
</div>
<div>
	<%= @nick_name %>
</div>
<div>
	<%= @avatar_url %>
</div>