<div>
	视频：
</div>
<div>
		
<!-- <video width="741" height="320" controls="controls" preload="auto" autobuffer="autobuffer">
        <source src="http://res.cloudinary.com/jli/video/upload/v1434521639/video_20150616145219_k5zjlc.mp4"
            type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
    </video> -->
	
	<video width="741" height="320" controls="controls" preload="auto" autobuffer="autobuffer">
	        <source src="http://www.11haoonline.com/assets/movie.mp4"
	            type='video/mp4' />
	    </video>
	
</div>
<div>
	<%= @nick_name %>
</div>
<div>
	<%= @avatar_url %>
</div>