<div>
	视频：
</div>
<div>
	<video width="300" height="480" controls="controls" preload="auto" autobuffer="autobuffer">
		<source src="/videos/<%= @file_name %>" type='video/mp4' />
	</video>
</div>
<div>
	<%= @nick_name %>
</div>
<div>
	<%= @avatar_url %>
</div>