<div class="header-box">
	<div class="row">
		<div class="col-md-12">
			<div style="padding:15px;">
				<% if @seller.user_profile.user.profile.picture.present? %>
				<%= cl_image_tag @seller.user_profile.user.profile.picture, width: 32, height: 32, crop: :limit %>
				&nbsp;&nbsp;&nbsp;
				<% end %>
				<span style="font-size:18px; vertical-align:top;"><%= @seller.user_profile.first_name %></span>
			</div>
		</div>
	</div>
	<% if @seller.video_file.present? %>
	<div class="row">
		<div class="col-md-12">
			<div style="margin-bottom:10px;">
				<video width="100%" height="240" controls="controls" preload="auto" autobuffer="autobuffer">
					<source src="/videos/<%= @seller.video_file %>" type='video/mp4' align="middle" />
					<embed src="/videos/<%= @seller.video_file %>" allowFullScreen="true" quality="high" width="100%" height="240" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" />
				</video>
			</div>
		</div>
	</div>
	<% end %>
</div>