<div class="container">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2" style="text-align:right;">
        <label class="control-label">标签名称</label>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag "tag_name",nil, class: 'form-control', placeholder: '标签名称' %>
      </div>

      <div class="col-sm-2">

      </div>
    </div>
  </div>

  <div class="form-group" style="position:relative;">
    <div style="text-align:center; margin-top:30px;">
      <button id="run_report" class="btn btn-primary" style="width:100px;"><span>查询</span></button>
    </div>
    <!--<div style="position:absolute; top:0px; right:0px; display:none;">-->
    <!--<a id="view_history" href="javascript:open_download_history();"><span>View Download History</span></a>-->
    <!--</div>-->
  </div>
</div>