<div class="tags">
  <% @tags.each do |t| %>
      <a href="javascript:void(0);" data-id="<%= t.id %>"> <span class="tag" data-value="<%= t.name %>"><%= t.name %>
        <button type="button" class="close" data-id="<%= t.id %>">×</button></span></a>
  <% end %>
</div>
