<div class="campaign-header">
    <div>
        <ul class="nav nav-tabs">
            <li class="<%= 'active' if active == :details %>">
                <a href="<%= edit_admin_campaign_path(@campaign) %>">
                    编辑团队信息
                </a>
            </li>
			<% if @campaign.any_bulkshipping_product? %>
	            <li class="<%= 'active' if active == :bulkshippinginfo %>">
	                <a href="<%= admin_campaign_bulkshippinginfo_path(@campaign) %>">
	                    编辑送货信息
	                </a>
	            </li>
			<% end %>
        </ul>
    </div>
</div>
