<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <%= favicon_link_tag 'favicon.ico?v=3' %>
<title>11号公益圈</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:新宋体;
	panose-1:2 1 6 9 3 1 1 1 1 1;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@新宋体";
	panose-1:2 1 6 9 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"页眉 Char";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:center;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"页脚 Char";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
a:link, span.MsoHyperlink
	{color:#333333;
	text-decoration:none none;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.Char
	{mso-style-name:"页眉 Char";
	mso-style-link:页眉;}
span.Char0
	{mso-style-name:"页脚 Char";
	mso-style-link:页脚;}
.MsoChpDefault
	{font-size:11.0pt;}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
 /* Page Definitions */
 @page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;}
div.WordSection1
	{page:WordSection1;}
-->

html, body, p, span {
	font-family: 黑体, "Microsoft YaHei", 微软雅黑, "Open Sans", sans-serif !important;
}
</style>

</head>

<body lang=ZH-CN link="#333333" vlink=purple>

<div class=WordSection1 style="width:80%; margin:0 auto;">
	
  <div style="text-align:center; padding:10px;">
	  <%= image_tag "logo.png", class: "logo" %>
  </div>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:150%; margin-top:20px;'><span style='font-size:18.0pt;line-height:
150%;font-family:宋体;color:#333333'>用户注册服务协议</span></p>

<p class=MsoNormal style='line-height:16.5pt; margin-top:20px; text-indent:2em;'><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈（网址</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>:</span><span
lang=EN-US> </span><span lang=EN-US style='font-size:12.0pt;font-family:新宋体;
color:#333333'>http://11haoonline.com</span><span style='font-size:12.0pt;
font-family:新宋体;color:#333333'>）是凡益信息科技<span lang=EN-US> (</span>上海<span
lang=EN-US>) </span>有限公司旗下经营的网站</span><span style='font-size:12.0pt;font-family:
宋体;color:#333333'>，本协议的双方是</span><span lang=EN-US style='font-size:12.0pt;
font-family:新宋体;color:#333333'>11</span><span style='font-size:12.0pt;
font-family:新宋体;color:#333333'>号公益圈</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>的注册用户（简称</span><span lang=EN-US style='font-size:
12.0pt;font-family:"Times New Roman","serif";color:#333333'>“</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>您</span><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>”</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>）与</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>。在您注册并使用</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>“</span><span lang=EN-US style='font-size:12.0pt;font-family:
新宋体;color:#333333'>11</span><span style='font-size:12.0pt;font-family:新宋体;
color:#333333'>号公益圈</span><span lang=EN-US style='font-size:12.0pt;font-family:
"Times New Roman","serif";color:#333333'>”</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>提供的各项服务之前，请您务必仔细阅读并透彻理解本协议条款。如果您同意注册并使用</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>“</span><span lang=EN-US style='font-size:12.0pt;font-family:
新宋体;color:#333333'>11</span><span style='font-size:12.0pt;font-family:新宋体;
color:#333333'>号公益圈</span><span lang=EN-US style='font-size:12.0pt;font-family:
"Times New Roman","serif";color:#333333'>”</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>提供的服务，视为您已经认真阅读、理解并完全接受了本协议全部内容，本协议即时在您与</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>之间发生法律效力。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>以下为本协议内容：</span><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'><br>
1</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>、您应是具有完全民事权利能力和民事行为能力的自然人，或依法设立并有效存续的单位（包括企业法人及其他组织）。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>2</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、您应妥善保管您的登录用户名和密码，使用您的用户名和密码登陆</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>进行的任何操作，将视为您本人的操作，一切后果由您本人承担。如果您的用户名或密码泄露，您应立即通知</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>，以避免可能的损失。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>3</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、您在注册时及在使用</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>提供的服务时提供的相关资料及信息应真实、准确、有效、完整，且不存在误导陈述，不侵害其他人的知识产权及合法权益。前述资料及信息包括：您在注册或登录过程中、在任何公共信息区域（包括留言栏或反馈区）或通过任何电邮形式或手机短信向</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>或其他用户提供的所有内容。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>4</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、为更好地保护您的合法权益并向您提供优质、高效的服务，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>可能将您的信息应用在以下方面：</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; </span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>（</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>1</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>）在您登陆</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>时进行必要的身份验证；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; </span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>（</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>2</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>）根据您的浏览记录及相关信息，向您推荐您可能感兴趣的项目资料；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; </span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>（</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>3</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>）针对您通过</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>提出的任何问题及时予以回复，并提供必要的协助；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; </span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>（</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>4</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>）分析</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>的用户需求及使用情况，以为您提供更优质的服务；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; </span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>（</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>5</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>）在项目筹款成功后，将项目支持人的姓名</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>/</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>名称及联系方式发送给项目发起人，以协助项目发起人兑现对项目支持人的回报；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; </span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>（</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>6</span><span style='font-size:12.0pt;font-family:宋体;color:#333333'>）用于向您提供的其他相关服务，比如向您发送</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>的有关通知、服务公告等。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>5</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>将针对您的个人交易向您发送相关电子邮件，同时也会将此类邮件的发送控制在最低限度，如果您不选择退订系类邮件，视为您接受</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>继续向您发送此类邮件。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>6</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、您在对</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>发布的项目提供筹款支持时，应认真阅读</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>发布的有关该项目的一切信息。如果您确定为某项目提供筹款支持，视为您已经完全理解并接受该项目的相关内容及风险，一切后果由您本人承担，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>不承担任何责任。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>8</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、如</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>上发布的项目筹款成功，则</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>会协助、监督项目发起人兑现对项目支持人的回报，如项目发起人与项目支持人因此产生纠纷，应双方协商解决，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>可提供必要的协助，但任何一方均不得要求</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>承担任何责任。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>9</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>应对您提供的信息履行保密义务，非为本协议约定之目的或按照法律、法规、有权机关的要求进行信息披露外，未经您事先书面同意，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>不应向任何第三方披露您的信息。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>10</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、您在使用</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>提供的服务时应遵守中华人民共和国相关法律法规、不得将本服务用于任何非法目的，也不得以任何非法方式使用本服务。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>11</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、当您存在包括但不限于下列情形之一时，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>有权立即终止向您提供服务而无需承担任何责任，并有权要求您赔偿</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>因此遭受的一切损失：</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.1&nbsp;</span><span style='font-size:12.0pt;font-family:
宋体;color:#333333'>违反本协议的约定；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.2&nbsp;</span><span style='font-size:12.0pt;font-family:
宋体;color:#333333'>冒用他人名义使用本服务；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.3 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>利用本服务侵害他人的合法权益；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.4 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>从事非法交易，如洗钱、贩卖枪支、毒品、禁药、盗版软件、淫秽物品等；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.5 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>从事任何可能含有电脑病毒或可能侵害本服务系统之行为；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.6 </span><span lang=EN-US style='font-size:12.0pt;
font-family:新宋体;color:#333333'>11</span><span style='font-size:12.0pt;
font-family:新宋体;color:#333333'>号公益圈</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>认为向您提供本服务存在风险的；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;11.7 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>其他导致</span><span lang=EN-US style='font-size:12.0pt;font-family:
新宋体;color:#333333'>11</span><span style='font-size:12.0pt;font-family:新宋体;
color:#333333'>号公益圈</span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>终止向您提供服务的行为。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>12</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、您理解并同意，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>不对因下述任一情况导致的您的任何损害承担赔偿责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'> (</span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>无论</span><span lang=EN-US style='font-size:12.0pt;font-family:
新宋体;color:#333333'>11</span><span style='font-size:12.0pt;font-family:新宋体;
color:#333333'>号公益圈</span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>是否已被告知该等损害赔偿发生的可能性</span><span lang=EN-US style='font-size:12.0pt;
font-family:"Times New Roman","serif";color:#333333'>)</span><span lang=EN-US
style='font-size:12.0pt;font-family:宋体;color:#333333'> </span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>：</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;12.1 </span><span lang=EN-US style='font-size:12.0pt;
font-family:新宋体;color:#333333'>11</span><span style='font-size:12.0pt;
font-family:新宋体;color:#333333'>号公益圈</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>基于单方判断（包括但不限于</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>认为您已经违反相关法律法规或本协议的约定），暂停、中止或终止向您提供全部或部分服务，并移除您的资料。</span><a
name="_GoBack"></a></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;12.2 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>如果</span><span lang=EN-US style='font-size:12.0pt;font-family:
新宋体;color:#333333'>11</span><span style='font-size:12.0pt;font-family:新宋体;
color:#333333'>号公益圈</span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>发现您违反法律法规或本协议约定使用</span><span lang=EN-US style='font-size:12.0pt;
font-family:新宋体;color:#333333'>11</span><span style='font-size:12.0pt;
font-family:新宋体;color:#333333'>号公益圈</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>提供的服务，或认为您存在违反法律规定或本协议约定的可能时，有权不经通知先行暂停或终止向您提供全部或部分服务，且无需向您承担任何责任。</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
16.5pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#333333'>13</span><span style='font-size:10.5pt;font-family:宋体;
color:#333333'>、因以下任一情形导致您无法使用全部或部分服务时，</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:10.5pt;font-family:宋体;color:#333333'>不承担任何责任，该情形包括但不限于：</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;13.1 </span><span lang=EN-US style='font-size:12.0pt;
font-family:新宋体;color:#333333'>11</span><span style='font-size:12.0pt;
font-family:新宋体;color:#333333'>号公益圈</span><span style='font-size:12.0pt;
font-family:宋体;color:#333333'>在网站公告之系统停机维护期间；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;13.2 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>电信设备出现故障不能进行数据传输的；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;13.3 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>您的银行卡发卡银行的原因导致的服务中断或延迟；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;13.4 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>系统障碍不能执行业务的；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;13.5 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>由于黑客攻击、电信部门技术调整或故障、网站升级等原因而造成的服务中断或者延迟。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>14</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>依据本协议约定中止或终止向您提供服务后，并不能免除您在中止或终止前实施的行为应承担的任何法律后果。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>15</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、本协议的成立、生效、履行，均适用中华人民共和国法律解释。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>16</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>发布的各类规则、协议、条款等，构成本协议不可分割的组成部分。</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>有权适时调整本协议的内容，并在</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>公布，如您不能接受变更后的协议内容，请立即停止使用</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>提供的服务。如您继续使用</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>提供的服务，视为您理解并接受调整后的本协议。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>17</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，应提交</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>人民法院诉讼解决。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>18</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、通知</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;18.1 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>除非另行明示载明，任何通知将发往您在注册过程中向</span><span lang=EN-US
style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>提供的电邮地址或直接在网站上公告，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>也可以以适当的其他方式进行通知。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;18.2 </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>任何通知应视为于以下时间送达：</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;(i) </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>如通过电邮发送，则电邮发送后</span><span lang=EN-US style='font-size:12.0pt;
font-family:"Times New Roman","serif";color:#333333'>24</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>个小时，但发送方被告知电邮地址无效的，则属例外；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;(ii) </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>如以预付邮资的信件发送，则投邮之日后三个营业日；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;(iii) </span><span style='font-size:12.0pt;font-family:
宋体;color:#333333'>如寄往或寄自中国，则在投邮后第七个营业日；</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>&nbsp;
&nbsp; &nbsp; &nbsp;(iv) </span><span style='font-size:12.0pt;font-family:宋体;
color:#333333'>如通过传真发送，则传真发出的该个营业日（只要发送人收到载明以上传真号码、发送页数和发送日期的确认报告）。</span></p>

<p class=MsoNormal style='line-height:16.5pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif";color:#333333'>19</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>、您同意，在发生并购时，</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>在本协议和所有纳入协议的条款和规则项下的所有或者部分权利和义务，可由</span><span
lang=EN-US style='font-size:12.0pt;font-family:新宋体;color:#333333'>11</span><span
style='font-size:12.0pt;font-family:新宋体;color:#333333'>号公益圈</span><span
style='font-size:12.0pt;font-family:宋体;color:#333333'>自行酌情决定向第三方进行转让。</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

</div>

</body>

</html>
