<div class="container" style="color:#333; background-color:#ededed; font-family:'Microsoft YaHei', '微软雅黑', arial, sans-serif;">
	<div class="row" style="text-align:center; position:relative">
	  <img src="/images/personals/p_11.jpg" style="width:100%;">
		
		<div style="position:absolute; left:10px; bottom:5px;">
			<span style="color:white; font-size:18px; letter-spacing:1px;"><%= @campaign.title %></span>
		</div>
	</div>
	
  <div class="row" style="background-color:white;">
    <div class="col-xs-12">
			<h2>捐款完成</h2>
			
      <p style="margin-top:20px;">感谢您献出爱心，您已成功捐助“为幼儿瘫母撑起希望”。</p>
			
			<p style="margin-top:20px;">简单公益，只因有你！</p>
			
      <p style="margin-top:30px; margin-bottom:30px;">
        <%= link_to "返回捐款页面", personal_story_index_path, class: 'btn btn-primary' %>
      </p>
		</div>
	</div>
</div>