header.navbar-default {
    background: white;
    margin-bottom: 0px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    .navbar-toggle {
        margin-top: 18px;
    }
    .navbar-nav {
        margin-top: 12px;
        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}


#footer {
    padding: 30px 0px;
    border-top: 1px solid #e5e5e5;
    p {
        font-size: 14px;
    }
    .copyright {
        text-align: right;
    }
    @media (max-width: 992px) {
        text-align: center;
        .copyright {
            text-align: center;
        }
    }
}

