<!-- 模态框（Modal） -->
<div class="modal fade" id="yqj_result_shareModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true"
     style="background-color: rgba(64,64,64,0.8);">
  <div class="modal-dialog">
    <div class="modal-content" style="width:100%; border: 0px; margin: 0px auto;margin-top:10%;background-color: rgba(0, 0, 0, 0.0)">
      <div class="yqj_result_share">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

