<article class="main_personal_red_pack">
  <div class="bg">
    <img class="bg-img" src="http://s4.xiaohongshu.com/gw/static/public/img/mobile/ambassador/bg-2.jpg?s=1431504207">
  </div>
  <header class="promo clearfix">
    <div class="sender-info">
      <div class="sender-avatar">
        <img  src="http://wx.qlogo.cn/mmopen/5dI1tod3IzjjRXIbzU3JNnhCuUtd9pFYswicojM22xjdEdvBBdmOf9p6xy3B56Ny0HEclRfg0y7fwt9pHjbBqpWMk39qNAXT0/0">
      </div>
      <div class="sender-name">雪夜</div>
    </div>
    <div class="bubble">
      <img src="http://s4.xiaohongshu.com/gw/static/public/img/mobile/redpacket/bubble.png?s=1433230425">

      <div class="promo-text">
        我从小红书领到<em class="bonus">10</em>个大礼包<br>
        送给你~可免费兑换一次<br>
        海外爆款商品哦
      </div>
    </div>
  </header>

  <section class="coupon-anime">
    <img class="coupon-pocket" src="http://s4.xiaohongshu.com/gw/static/public/img/mobile/redpacket/envelope-1.png?s=1449892017">

    <div class="coupon-inner">
      <img class="coupon-img" src="http://s4.xiaohongshu.com/gw/static/public/img/mobile/redpacket/coupon.png?s=1433230425">
      <img class="over-img" id="over_img" src="http://s4.xiaohongshu.com/gw/static/public/img/mobile/redpacket/over.png?s=1433230425" style="display:none;">

      <div class="coupon j_coupon">
        <div  style="text-align: center;">?元</div>
        <div style="text-align: center;">现金</div>
      </div>
    </div>
  </section>
  <section class="actions">
    <div class="use-coupon" id="get_btn" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
      <div class="btn-text">马上领取</div>
    </div>
  </section>
  <div class="cloud">
    <img class="cloud-img" src="http://s4.xiaohongshu.com/gw/static/public/img/mobile/ambassador/cloud.png?s=1430293786">
  </div>
</article>