<div id="organizations" style="padding: 30px 0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>组织</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover" style="width:">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>名称</th>
																<th>组织代码</th>
																<th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @organizations.each do |organization| %>
                            <tr>
                                <td><%= organization.created_at.strftime('%b %-d, %Y') %></td>
                                <td><%= link_to organization.name, edit_admin_organization_path(organization) %></td>
																<td><%= organization.entertainment_customer_id %></td>
																<td><%= link_to "删除", admin_organization_path(organization), method: :delete, data: { confirm: "您确定要删除该组织吗?" } %>
																</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
				
				<!-- pager here -->
            </div>
        </div>
		
		<%= link_to '添加组织', new_admin_organization_path, class: 'btn btn-primary' %>

    </div>
</div>
