<div id="products">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>Edit Product: <%= @product.name %></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <%= render 'form' %>
            </div>
        </div>

    </div>
</div>
