<div class="dashboard-header">
    <div class="container">
        <div class="dashboard-header-box">
			<% if current_user.id == @campaign.organizer_id %>
				<h2 style="font-weight: bold; margin-top:10px;">管理我的团队</h2>
			<% end %>
			
			<div class="row" style="margin-top:15px;">
				<div class="col-sm-4" style="margin-top:5px;">
					<div style="width:100px;">
				    <% if current_user.profile.picture.present? %>
				        <%= cl_image_tag current_user.profile.picture, width: 100, height: 100, crop: :limit, style: "display:block; margin:0 auto;" %>
				    <% else %>
				        <%= image_tag 'crown.png', width: 72, style: "display:block; margin:0 auto;" %>
				    <% end %>
					</div>
	
					<h4 style="margin-top:10px; width:100px; text-align:center;"><%= @campaign.organizer.profile.fullname %></h4>
				</div>
			
				<div class="col-sm-7 col-sm-offset-1">
					<% if current_user.id == @campaign.organizer_id %>
						<p>我的团队：</p>
					<% else %>
						<% if @campaign.ent_campaign? %>
						<p>Group Storefronts:</p>
						<% else %>
						<p>Fundraisers:</p>
						<% end %>
					<% end %>
					
					<div class="campaign-callout clearfix" style="margin-bottom: 8px; padding: 10px 10px 10px 10px; border: 1px solid gray; cursor: pointer">
					    <h4 class="pull-left" style="margin: 0"><%= @campaign.title %></strong></h4>
					    <div class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></div>
					</div>
					<div class="campaign-dropdown-container" style="position: relative">
					    <div class="campaign-dropdown" style="display: none; position: absolute; top:0; left: 0; background: white; width: 100%; z-index: 9999">
					        <% @campaigns.each do |campaign| %>
					            <a href="<%= dashboard_campaign_path(campaign)%>" class="campaign-callout" style="display: block; margin-bottom: 3px; padding: 20px 10px; border: 1px solid gray;">
					                <h4 style="margin: 0"><%= campaign.title %></strong></h4>
					            </a>
					        <% end %>
					    </div>
					</div>
					<div style="margin-top:15px; text-align:right;">
						<a href="<%= short_campaign_path(@campaign) %>">浏览您的筹款页面</a>
					</div>
				</div>
			</div>
        </div>
		
		<div class="campaigns-list">
			<div class="well">
				<div class="row">
		            <div class="col-md-6" style="padding-left:3px; padding-right:3px;">
		                <div style="padding:3px; width:100%;">
		                    <%= cl_image_tag @campaign.campaign_logo.image_id,
								transformation: [{ 
										width: @campaign.campaign_logo.crop_width,
										height: @campaign.campaign_logo.crop_height,
										x: @campaign.campaign_logo.crop_x,
										y: @campaign.campaign_logo.crop_y,
										crop: :crop
									}],
								style: 'width: 100%' if @campaign.campaign_logo %>
						
		                    <%= image_tag 'crown.png', style: "display:block; margin: 25px auto; width:72px" if !@campaign.campaign_logo %>
		                </div>
		            </div>
					<div class="col-md-5 col-md-offset-1 campaign-info-box">
						<div style="border:0px solid #999;">
							<div class="row">
			                    <div class="col-md-8 raised-count-box">
									<div class="raised-count">
										<label>￥<%= short_price(@campaign.raised) %>
										</label>&nbsp;&nbsp;<span>简单公益 只因有你</span>
									</div>
						
									<% if @campaign.goal.nil? %>
										<div class="empty-goal-box">&nbsp;</div>
									<% else %>
				                    <div class="progress">
				                        <div class="progress-bar" style="width: <%= @campaign.progress_percent > 100 ? 100 : @campaign.progress_percent  %>%;">
				                        </div>
				                    </div>
				                    <p class="goal">
				                        目标： ￥<%= short_price( @campaign.goal.nil? ? 0 : @campaign.goal) %>
				                    </p>
									<% end %>
								</div>
								<div class="col-md-4">
									<% if @campaign.end_date.present? %>
				                    <div class="days-left">
				                        <p class="days-value">
				                            <%= @campaign.days_remaining %>
				                        </p>
				                        <p class="days-title">
				                            剩余天数
				                        </p>
				                    </div>
									<% end %>
								</div>
							</div>
							<div class="row">
								<table class="campaign-people-box">
									<tr>
										<td class="campaign-people-col first-col">
											支持者&nbsp;<span class="badge"><%= @campaign.supporters %></span>
										</td>
										<td class="campaign-people-col middle-col">
											团队成员&nbsp;<span class="badge"><%= @campaign.sellers.count %></span>
										</td>
										<td class="campaign-people-col">
											订单&nbsp;<span class="badge"><%= @campaign.completed %></span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
        <ul class="nav nav-tabs">
            <li class="<%= 'active' if active == :home %>">
                <a href="<%= dashboard_campaign_path(@campaign) %>">
                    <span class="glyphicon glyphicon-th"></span> 分享
                </a>
            </li>
            <!-- <li class="<%= 'active' if active == :contacts %>">
                <a href="<%= dashboard_campaign_contacts_path(@campaign) %>">导入联系人</a>
            </li>
            <li class="<%= 'active' if active == :sendmails %>">
                <a href="<%= dashboard_campaign_sendmails_path(@campaign) %>">跟联系人发邮件</a>
            </li> -->
            <li class="<%= 'active' if active == :sellers %>">
                <a href="<%= dashboard_campaign_sellers_path(@campaign) %>">
                    团队成员
                    <span class="badge"><%= @campaign.sellers.count %></span>
                </a>
            </li>
            <li class="<%= 'active' if active == :orders %>">
                <a href="<%= dashboard_campaign_orders_path(@campaign) %>">
                    浏览订单
                    <span class="badge"><%= @campaign.completed %></span>
                </a>
            </li>
            <li class="<%= 'active' if active == :details %>">
                <a href="<%= dashboard_campaign_details_path(@campaign) %>">编辑筹款页面</a>
            </li>
			<% if (current_user.is_crs? || current_user.admin?) && @campaign.any_bulkshipping_product? %>
	            <li class="<%= 'active' if active == :bulkshippinginfo %>">
	                <a href="<%= dashboard_campaign_bulkshippinginfo_path(@campaign) %>">编辑大量运送信息</a>
	            </li>
			<% end %>
        </ul>
    </div>
</div>
