<div id="order-show">
  <div id="mall_orders_result" class="order_wrapper">
		<%= render "mall/pager/orders" %>
  </div>
</div>

<script>
$(document).ready(function () {
  document.title = "我的订单";
	
  $("#order-show .order_item").click(function () {
		window.location.href = $(this).data("url");
  });
	
	$("#mall_orders_result").jscroll({
		autoTrigger: false,
		nextSelector: "a.a-pager:last",
		callback: function() {
		  $("#order-show .order_item").off("click").click(function () {
				window.location.href = $(this).data("url");
		  });
		},
		loadingHtml: "<div style='text-align:center; padding:15px 0px 30px 0px;'><img src='<%= image_url "loader-black.gif" %>' /></div>"
	});
});
</script>
