<div id="mall_search" style="margin-top:10px;">
	<div class="container">
		<% if @products.count==0 %>
			<div style="color:#999; font-size:16px; margin-top:40px; text-align:center;">
				<strong>没有找到合适的商品</strong>
			</div>
		<% else %>
			<div id="mall_search_result">
				<%= render "mall/pager/search" %>
			</div>
		<% end %>
	</div>
</div>

<script>
$(document).ready(function() {
	$("#mall_search_result").jscroll({
		autoTrigger: false,
		nextSelector: "a.a-pager:last",
		loadingHtml: "<div style='text-align:center; padding:0px 0px 30px 0px;'><img src='<%= image_url "loader-black.gif" %>' /></div>"
	});
})
</script>