<div id="collections">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h3>编辑: <%= @product_category.name %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'subclassform' %>
      </div>
    </div>

  </div>
</div>