@mixin fontSize3em {
	font-size: 3em;
}

@mixin fontSize2_8em {
	font-size: 2.8em;
}

@mixin fontSize1_5em {
	font-size: 1.5em;
}

@mixin fontSize1_2em {
	font-size: 1.2em;
}

@mixin fontSize1em {
	font-size: 1em;
}

@mixin fontSize0_5em {
	font-size: 0.5em;
}

@mixin fontSize13px {
	font-size: 13px;
}

@mixin fontSize12px {
	font-size: 12px;
}

@mixin fontSize11px {
	font-size: 11px;
}

$site-red: rgb(191, 17, 26);
$site-red-hover: rgb(210, 16, 16);
$entertainment-orange: rgb(245, 117, 12);
$entertainment-orange-hover: rgb(241, 141, 55);
$entertainment-lightgreen: rgb(168, 193, 51);
$entertainment-lightgreen-hover: rgb(190, 211, 88);
$light-grey: rgb(142, 148, 153);
$grey: rgb(114, 113, 113);

html, body {
    //height: 100%;
	//color: rgb(142, 148, 153);
	font-size: 16px;
	font-family: 黑体, "Microsoft YaHei", 微软雅黑, "Open Sans", sans-serif;
}

input, .select2-container, #footer {
	font-family: "Open Sans", sans-serif;
}

//span, p, h1, h2, h3, h4, h5 {
//    font-family: "Open Sans", sans-serif;
//}

p {
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    //color: #30263a;
}

video {
	background-color: black;
}

/* Loader */
.loader {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: image-url('loading.gif');
  &.loader-black {
    background: image-url('loader-black.gif');
  }
  &.alt-loader {
    background: image-url('alt-loader.gif');
  }
}

.radio-inline, .checkbox-inline {
    margin-left: 0px;
    margin-right: 10px;
    &+.radio-inline, &+.checkbox-inline {
        margin-left: 0px;
    }
}

.navbar-brand-main {
	position: relative;
	
    @media all and (max-width: 768px){
		padding-left: 20px !important;
    }
	
	.divlogo {
		position: absolute; 
		top: 0px;
	}
}

.btn-primary {
	border-radius: 0px;
	color: #fff !important;
	background-color: $site-red;
	border-color: $site-red;
	
	&:hover {
		color: #fff !important;
		background-color: $site-red-hover !important;
		border-color: $site-red-hover !important;
	}
	
    &:active {
  	  	color: #fff !important;
		background-color: $site-red-hover !important;
		border-color: $site-red-hover !important;
    }
  
    &:focus {
  	  	color: #fff !important;
		background-color: $site-red-hover !important;
		border-color: $site-red-hover !important;
    }
	
    &:visited {
  	  	color: #fff !important;
		background-color: $site-red-hover !important;
		border-color: $site-red-hover !important;
    }
	
}

.btn-orange {
  color: #fff;
  background-color: $entertainment-orange;
  border-color: $entertainment-orange;
  border-radius: 0px;
  
  &:hover {
	  color: #fff;
	  background-color: $entertainment-orange-hover !important;
	  border-color: $entertainment-orange-hover !important;
  }
  
  &:active {
	  color: #fff;
  }
  
  &:focus {
	  color: #fff;
  }
  
}

.btn-lightgreen, .btn-success {
  color: #fff;
  background-color: $entertainment-lightgreen;
  border-color: $entertainment-lightgreen;
  border-radius: 0px;
  
  &:hover {
	  color: #fff;
	  background-color: $entertainment-lightgreen-hover !important;
	  border-color: $entertainment-lightgreen-hover !important;
  }
  
  &:active {
	  color: #fff;
	  background-color: $entertainment-lightgreen-hover !important;
	  border-color: $entertainment-lightgreen-hover !important;
  }
  
  &:focus {
	  color: #fff;
	  background-color: $entertainment-lightgreen-hover !important;
	  border-color: $entertainment-lightgreen-hover !important;
  }
  
}

.btn-info {
	
    color: #fff;
    background-color: $entertainment-lightgreen;
    border-color: $entertainment-lightgreen;
  
    &:hover {
  	  color: #fff;
  	  background-color: $entertainment-lightgreen-hover !important;
  	  border-color: $entertainment-lightgreen-hover !important;
    }
  
    &:active {
  	  color: #fff;
  	  background-color: $entertainment-lightgreen-hover !important;
  	  border-color: $entertainment-lightgreen-hover !important;
    }
  
    &:focus {
  	  color: #fff;
  	  background-color: $entertainment-lightgreen-hover !important;
  	  border-color: $entertainment-lightgreen-hover !important;
    }
	
}

.btn-white {
  color: rgb(191, 17, 26);
  background-color: white;
  border-color: white;
  border-radius: 0px;
  
  &:hover {
	  color: rgb(191, 17, 26);
	  background-color: white !important;
	  border-color: white !important;
  }
  
  &:active {
	  color: rgb(191, 17, 26);
  }
  
  &:focus {
	  color: rgb(191, 17, 26);
  }
  
}

.well {
    &.well-white {
        background: white;
    }
}

//readonly
.form-control[readonly] {
    cursor: auto;
}

//alerts
.alert {
    margin-bottom: 0px;
}

label.error {
    color: #b94a48;
    margin-top: 5px;
    font-weight: normal;
    display: block;
}

// Fix for tinymce
.mce-path > .mce-path-item, .mce-path > .mce-divider {display: none !important;}

// FIxes for date picker
.picker__nav--next:hover, .picker__nav--prev:hover {
  cursor: pointer;
  color: #000000;
  background: none;
}

.datepicker.form-control[readonly], .timepicker.form-control[readonly] {
  cursor: pointer;
  background-color: #ffffff;
}

.modal {
    .modal-header {
        &.modal-header-purple {
            background: $site-red;
            .modal-title, .close {
                color: white;
                opacity: 1;
            }
        }
    }
}

.panel {
    .panel-purple {
        .panel-heading {
            background: $site-red;
            .panel-title {
                color: white;
            }
        }
    }
}

.number {
    display: inline-block;
    height: 33px;
    width: 33px;
    padding: 3px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-right: 8px;
    background-color: $site-red;
    color: white;
    text-align: center;
}

.req {
    color: red;
    font-size: 10px;
}

.help-text-input {
    border-radius: 4px 4px 0 0;
}

.help-text {
    background: whitesmoke;
    display: block;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    padding: 12px;
    margin-top: -1px;
}

.login-media-box {
	margin-top: 40px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

//Override bootbox.js style
.bootbox {
	.bootbox-body {
		padding: 10px 0;
		text-align: center;
	}
	
	.bootbox-close-button {
		display: none;
	}
}

.join-fundraising-link {
	font-weight: bold;
}
