// Place all the styles related to the CampaignNgo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pageContainer{

  .ls div
  {
    border-radius: 50px;
    padding: 2px;
    border: 1px solid rgb(197, 169, 77);
  }
  .top img
  {

  }
  .detail .named .dd
  {
    text-align: left;
    padding-top: 10px;
  }
  .detail .named .dd a{
    width: 50%;
  }
  .detail .named .tt
  {
    color:#FF9900;
  }
  #indirect_influence {
    opacity: 0;
  }
  #proj_content img{
    width:100%;
  }

  .img-avatar {
    background-color: rgb(255, 249, 233);
    border: 2px solid rgb(197, 169, 77);
    border-radius: 32px;
    width: 64px;
    height: 64px;
  }

  .img-friend-avatar {
    background-color: rgb(255, 249, 233);
    border: 1px solid rgb(197, 169, 77);
    border-radius: 24px;
    margin-right: 0px;
    width: 48px;
    height: 48px;
  }

  .img-bubble {
    width: 90%;
    padding: 10px;
  }

  .seller_referral_count {
    font-size: 26px;
  }

  .indirect_influence_quote_number {
    font-size: 26px;
    color: #fa0000;
  }

  .digit-container {
    margin: 0px auto;
    position: relative;
    width: 275px;
    height: 40px;
  }

  .digit-sub-container {
    float: left;
    width: 64px;
    height: 40px;
  }

  .digit-sub-margin-container {
    width: 69px;
  }

  .digit-box {
    background: transparent url('/2016/digit_box.png') no-repeat center top;
    background-size: 100% auto;
    color: #eee;
    float: left;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    width: 32px;
    height: 40px;
  }

  .digit-margin-box {
    margin-left: 5px;
  }

  .digit-text-box {
    float: left;
    padding-left: 5px;
    text-align: center;
    width: 100%;
  }

  .ctx img {
    margin: 0px auto;
    max-width: 100%;
  }

  .avatar-container {
    text-align: center;
  }

  #banner {
    padding-top: 30px;
  }

  .project table {
    font-size: 14px;
  }

  @media (min-width: 640px) {
    .img-avatar {
      border-radius: 54px;
      width: 108px;
      height: 108px;
    }

    .img-friend-avatar {
      border-radius: 32px;
      margin-right: 6px;
      width: 64px;
      height: 64px;
    }
  }

  @media (min-width: 480px) {

    #banner {
      padding-top: 100px;
    }

    .img_super_monkey {
      max-width: 348px;
    }

    .img-bubble {
      width: 90%;
    }

    .avatar-container {
      text-align: center;
    }

    .digit-container {
      width: 290px;
    }

    .digit-sub-margin-container {
      width: 74px;
    }

    .digit-margin-box {
      margin-left: 10px;
    }

    .digit-text-box {
      padding-left: 10px;
    }

    .project table {
      font-size: 16px;
    }

  }
  #btn_agreement
  {
    font-size: 13px;
    text-align:center;
    margin-top: 10px;
    color: #b1a8a3;
  }
  .desc .deschead
  {
    color: #CC0033;
  }
  color:#333;
  font-family:'Microsoft YaHei', '微软雅黑', arial, sans-serif;
  max-width:750px;
  margin:0px auto;
  padding:0px 0px 20px 0px;
  font-size: 14px;

  @media (min-width: 480px) {
    font-size: 16px;
  }

  .campaign-default-logo-box {
    width: 100%;
    height: 300px;
    padding-top: 80px;
  }

  .campaign-header-title-box {
    position: absolute;
    background: #333;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    //height: 3.9em;
    bottom: 0em;
  }

  .campaign-header-logo-title {
    //bottom:1.3em;
    //position: absolute;
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  #btn_view_supporters {
    position:absolute;
    top:0px;
    right: 0px;
    height:48px;
    line-height:48px;
  }
  .detail .btns .btn
  {
    background-color: #99CC33;
  }
}