#footer_cart {
	position: fixed;
	bottom: 12px;
	right: 12px;
//	width: 100%;
	z-index: 2000;
	zoom: 1;
	text-align:right;
	
	span {
		background:rgb(191, 17, 26);
		font-size:10px;
		font-weight:600;
		line-height:1;
		color:white;
		padding:2px 2px;
		min-width:16px;
	}
	
	img, span {
		cursor: pointer;
	}
}

#footer {
	
	position: fixed;
	bottom: -1px;
	width: 100%;
	z-index: 1000;
	zoom: 1;
	display: none;
	
    p {
        font-size: 14px;
    }
	
    .copyright {
        text-align: right;
    }
	
	.bottom-box {
		
		background-color: $site-red;
		color: white;
		padding-top: 10px; 
		padding-bottom: 10px; 
		
		.bottom-right {
			text-align: right;
		}
		
	}
	
    @media (max-width: 992px) {
		
        text-align: center;
		
        .copyright {
            text-align: center;
        }
		
		.bottom-box {
			
			.bottom-right {
				margin-top: 10px;
				text-align: center;
			}
			
			padding-top: 10px; 
			padding-bottom: 10px; 
		
		}
		
    }
    a {
        color: white;
    }
}
