html {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family:'Helvetica',Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;
    font-size: 12px;
}
body
{
    margin: 0px;
    padding: 0px;
    color: #333;
   font-family:'Helvetica',Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;
}
.weui_loading_toast
{
  .weui_mask_transparent
  {
    z-index: 999;
  }
}

.share-dialog-show {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(51,51,51,0.8);

  div
  {
    width: 100%;
    height: 371px;
    background: image_url("yqj_result_share.png");
    background-size: 100% 100%;
  }
}
.goods-footer
{
  background-color: white;

  p
  {
    padding: 10px 0px 15px 10px;
    text-align: center;
    color: rgb(204, 204, 204);
  }
  img
  {
    margin-bottom: -5px;
    width: 15px;
    height: 20px;
  }
}
