html {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family:'Helvetica',Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;
    font-size: 12px;
}
body
{
    margin: 0px;
    padding: 0px;
    color: #333;
   font-family:'Helvetica',Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;
}
.weui_loading_toast
{
  .weui_mask_transparent
  {
    z-index: 999;
  }
}

.share-dialog-show {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(51,51,51,0.8);

  div
  {
    width: 100%;
    height: 371px;
    background: image_url("yqj_result_share.png");
    background-size: 100% 100%;
  }
}
.goods-footer
{
  background-color: white;

  p
  {
    padding: 10px 0px 15px 10px;
    text-align: center;
    color: rgb(204, 204, 204);
  }
  img
  {
    margin-bottom: -5px;
    width: 15px;
    height: 20px;
    margin-left: 1px;
    margin-right: 10px;
  }
}

.weui_btn{
    font-size: 14px;
    padding: 5px;

}

.hr-custom-line {
  border: 0;
  border-top: 1px dashed #bbb;
  margin: auto;
  padding: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.product_weixin_header {
  position: relative;
  height: 30px;
  background: #1e1d22;
  color: #999;
  font-size: 0;
  line-height: 0;
  padding: 1px 1px 1px 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  p {
    padding-top:3px;
    img
    {
      vertical-align: middle;
      margin-left: 3px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    }
    .org_name
    {
      color: #999;
      text-overflow: ellipsis;/*超出部分省略*/
      white-space: nowrap;/*强制不换行*/
      overflow:hidden; /*超出部分隐藏*/
    }
    span
    {
      margin-left: 10px;
      vertical-align: middle;
      font-size: 14px;
      color: #999;
      white-space: nowrap;
      overflow: hidden;
    }
  }

}
