#homepage {
    
	background-color: #ffffff;
	width: 100%;
	margin-top: 85px;
	
    .container-box {
		
        margin-bottom: 30px;
		margin-top: 10px;
        padding: 10px 10px 30px 10px;
        text-align: center;
		
        h2 {
            margin: 0 0 20px;
			color: $light-grey;
        }
		
		.advertise-box {
			width: 30em; 
			margin: auto;
		
			.title {
				text-align: center;
				@include fontSize3em;
			}
			
			.subtitle {
				text-align: center;
				@include fontSize1_5em;
			}
		}
		
		.btn-fontsize {
			@include fontSize1_5em;
		}
		
		.search-box {
			padding-top: 60px; 
			text-align: left;
		}
		
		.learnmore-box {
			margin-top: 80px;
		}
		
    }
	
	.section {
		color: #FFF;
		margin: 150px auto 30px;
		background-image: image-url('section.png');
		padding: 15px 15px 50px 15px;
		max-width: 65%;
	}
	
    .top-row {
		
		//height: 550px;
		background-color: rgb(237, 237, 237);
		padding: 50px 0px 100px 0px;
		
		.container {
			
			max-width: 1120px;
		
			.left-section {
			
				margin-top: 70px;
				text-align: center;
			
				.title {
	
					font-size: 40px;
					color: rgb(133, 125, 125);
					
				    @media all and (max-width: 768px){
						font-size: 30px;
				    }
					
				}
			
				.btn {
					
					font-size: 30px;
					padding-left: 80px;
					padding-right: 80px;
				
				    @media all and (max-width: 768px){
						font-size: 20px;
				    }
					
				}
			
			}
		
			.right-section {
			
				margin-top: 50px;
			
			}
			
		}
		
    }

	.startfund-section {
		
		position: absolute;
		bottom: 15%;
		right: 11%;
		//width: 27%;
//		height: 38%;
		width: 350px;
		color: #FFF;
		//margin: 200px 150px 150px auto;
		//padding: 15px 15px 50px 15px;
		//max-width: 25%;

		.item1 {
			width: 100%;
			//height: 50%;
		}
		
		.item2 {
			width: 100%;
			//height: 25%;
			margin-top: 15px;
		}

		.btn {
			font-size: 20px;
			//font-weight: bold;
			width: 100%;
			//height: 100%;
		}
	}
		  
    .bottom-row {
        margin-bottom: 20px;
    }
	
	#support {
		margin-left:0px; 
		margin-right: 0px;
		margin-top: 5px; 
		padding-top: 95px; 
		padding-bottom: 150px;
	}
	
	#howitworks {

		color: white;
		text-align: center;
	    padding: 50px 0px 100px 0px;
	    background-color: $site-red;

		.container {
			max-width: 1120px;
		}
		
	    h1 {
			font-size: 46px;
			//font-weight: bold;
		    @media all and (max-width: 768px){
				font-size: 40px;
		    }
			
	    }
		
	    h2 {
			font-size: 26px;
	        margin: 0 0 20px;
			
		    @media all and (max-width: 768px){
				font-size: 20px;
		    }
			
	    }

		.btn-white {
			
			padding: 20px 80px 20px 80px;
			
			span {
				font-size: 26px;
				
			    @media all and (max-width: 768px){
					font-size: 20px;
			    }
				
			}
		}
		
		#how-it-works {
			
			.how-it-works-col {
				width: 80%;
				margin: 0 auto;
				
				p {
					text-align: left;
					margin-top: 20px;
				}
			}
		
			.img1 {	
				height: 170px;
				padding-top: 50px;
			}
		
			.img2 {	
				height: 170px;
				padding-top: 30px;
			}
		
			.img3 {
				height: 170px;
				padding-top: 25px;
			}
			
			.circle {
				margin: 10px auto;
				width: 44px;
				height: 44px;
				line-height: 44px;
				text-align: center;
				font-size: 36px;
				//border-radius: 50%;
				//background-color: $entertainment-lightgreen;
			    @media all and (max-width: 768px){
					font-size: 30px;
			    }
				
			}
			
		}
	
	    @media (max-width: 992px) {
		
			#how-it-works {
		
				.how-it-works-col {
					width: 100%;
				}
			
				.img1 {	
					height: auto;
					padding-top: 0px;
					margin-top: 30px;
					margin-bottom: 30px;
				}
		
				.img2 {	
					height: auto;
					padding-top: 0px;
					margin-top: 30px;
					margin-bottom: 30px;
				}
			
				.img3 {
					height: auto;
					padding-top: 0px;
					margin-top: 30px;
					margin-bottom: 30px;
				}
			}
		
	    }
		
	}
	
	#raised {
		
		//min-height: 600px;
		padding: 50px 0px 100px 0px;
		background: image-url('raised_bg.jpg') no-repeat;
		background-size: cover;
		background-position-x: center;
		text-align: center;
		color: white;
		
		.container {
			max-width: 1120px;
		}
		
		
	    h1 {
			font-weight: bold;
	    }
		
	    h2 {
			font-size: 26px;
	        margin: 0 0 30px;
	    }
		
		#raised-box {
				
			.column {
				width: 20%;
				height: 350px;
				position: relative;
				
				.raised-col {
					padding-left: 10px;
					padding-right: 10px;
					position: absolute;
					bottom: 0px;
				}
				
				h3 {
					font-size: 20px;
				}
				
				h1, h4 {
					color: $entertainment-lightgreen;
				}
				
				h1 {
					font-size: 46px;
					margin-top: 0px;
				}
				
				h4 {
					margin-top: 0px;
					margin-bottom: 0px;
				}
				
			}
			
			.square {
				margin: 0 auto;
				width: 150px;
				background-color: $entertainment-lightgreen;
			}
			
		}
		
		@media (max-width: 992px) {
			
			padding-bottom: 10px;
			
			#raised-box {
				
				.column {
					
					width: 100%;
					height: auto;
					margin-bottom: 50px;
					
					.raised-col {
						position: static;
					}
					
				}
			
			}
			
		}
		
	}
	
	#why {
		
		background-color: rgb(237, 237, 237);
		text-align: center;
	    padding: 50px 0px 100px 0px;

		.container {
			
			max-width: 1120px;
			color: rgb(133, 125, 125);
			
			.left-section {
				
				margin-top: 50px;
				font-size: 24px;
				
			}
		
			.right-section {
			
				margin-top: 80px;
				margin-bottom: 20px;
				text-align: center;
				font-size: 72px;
				
			    @media all and (max-width: 768px){
					font-size: 50px;
			    }
				
			}
			
		}
		
	    h1 {
			color: $site-red;
			font-weight: bold;
	    }
		
	    h2 {
			color: $grey;
			font-size: 26px;
	        margin: 0 0 30px;
	    }

	    h3 {
			color: $site-red;
			font-size: 20px;
			font-weight: bold;
	    }
		
		.btn-orange {
			
			span {
				font-size: 16px;
			}
		}
		
		#why-box {
		
			.why-col {
				border: 1px solid rgb(230,230,230);
				width: 95%;
				margin: 0 auto;
				padding-left: 20px;
				padding-right: 20px;
				
				p {
					color: black;
					font-size: 13px;
					margin-top: 20px;
					margin-bottom: 20px;
					
					.emphasize {
						color: $site-red;
						font-weight: bold;
					}
				}
			}
		
			.img1 {	
				height: 230px;
				padding-top: 30px;
			}
		
			.img2 {	
				height: 230px;
				padding-top: 30px;
			}
		
			.img3 {
				height: 230px;
				padding-top: 25px;
			}
		}
	
	    @media (max-width: 992px) {
		
	        text-align: center;
		
			#why-box {
		
				.why-col {
					width: 100%;
					margin-top: 20px;
				}
			
				.img1 {	
					height: auto;
					padding-top: 0px;
					margin-top: 30px;
					margin-bottom: 30px;
				}
		
				.img2 {	
					height: auto;
					padding-top: 0px;
					margin-top: 30px;
					margin-bottom: 30px;
				}
			
				.img3 {
					height: auto;
					padding-top: 0px;
					margin-top: 30px;
					margin-bottom: 30px;
				}
			}
		
	    }
		
	}
	
	@media all and (max-width: 768px){

		.section {
			max-width: 90%;
			padding-left: 0px;
			padding-right: 0px;
		}
		
		.startfund-section {
			width: 280px;
			position: static;
			margin: 150px auto;
			.btn {
				font-size: 16px;
			}
		}
		
		.container-box {
			
			padding-top: 10px;
			margin-top: 0px;
	
			.advertise-box {
				width: 95%;
			}
			
			.search-box {
				padding-top: 30px; 
			}
			
			.learnmore-box {
				margin-top: 0px;
			}
		
		}
		
	    .top-row {
	        //background-position-x: center;
	    }
		
		.section {
			margin: 100px auto 30px;
		}
		
		.bottom-row {
			margin-bottom: 0px;
		}
		
		#support {
			margin-top: 10px; 
			padding-top: 90px; 
			padding-bottom: 80px;
		}
		
	}

	@media all and (max-width: 400px){
		
		.container-box {
			.advertise-box {
			
				.title {
					@include fontSize2_8em;
				}
			}

			.btn-fontsize {
				width: 90%;
				@include fontSize1_2em;
			}
		
			.search-box {
				text-align: center; 
				padding-left: 0px;
			}
		}	
	}
	
	//replacement of startfund-section
	.fund-section, .fund-btn, .fund-txt {
		border:0px solid red;
	}

	.fund-section {
		position:absolute;
		left:5%;
		right:0;
		bottom:8%;
	}

	.fund-btn {
		width:280px;
		margin: 50px auto 0 auto;
		
		.item1, .item2 {
			text-align:center;
		}
		
		.item2 {
			margin-top:15px;
		}
		
		span {
			font-size:13px;
		}
	}

	.fund-txt {
		margin:0 auto;
	
		span {
			color:white;
			font-family: Montserrat, "Open Sans", sans-serif;
			text-shadow:2px 2px 6px #333; 
			line-height:1;
		}
	
		.div1 {
			margin-left:20px;
		}
	
		.div3 {
			margin-left:125px;
		}

		.txt1 {
			font-size:34px;
			font-weight:400;
		}

		.txt2 {
			font-size:54px;
			font-weight:700;
		}
	}

	@media all and (max-width:320px){
		.fund-txt {
			margin:0;
		}
	
		.fund-btn {
			margin: 50px 0 0 0;
			
		}
	}

	@media all and (min-width:321px) and (max-width:479px){
		.fund-section { 
			right:5%;
		}
	
		// Same font size till 479px
		.fund-txt {
			width:304px;
		}
	}

	@media all and (min-width:480px) and (max-width:639px){
		.fund-section { 
			right:5%;
		}
	
		.fund-txt {
			width:380px;
		
			.txt1 {
				font-size:40px;
			}

			.txt2 {
				font-size:70px;
			}
			
			.div1 {
				margin-left:30px;
			}
		
			.div3 {
				margin-left:160px;
			}
		}
	}

	@media all and (min-width:640px) and (max-width:799px){
		.fund-section { 
			right:5%;
		}
	
//		.fund-txt {
//			width:434px;
//
//			.txt1 {
//				font-size:50px;
//			}
//
//			.txt2 {
//				font-size:80px;
//			}
//
//			.div3 {
//				margin-left:180px;
//			}
//		}
		
		// Same font size from 480-799px width
		.fund-txt {
			width:380px;
		
			.txt1 {
				font-size:40px;
			}

			.txt2 {
				font-size:70px;
			}
			
			.div1 {
				margin-left:30px;
			}
		
			.div3 {
				margin-left:160px;
			}
		}
	}

	@media all and (min-width:800px) and (max-width:959px){
		.fund-section {
			left:5%;
			right:5%;
		}
	
		.fund-txt {
			float:left;
		
			width:411px;
		
			.txt1 {
				font-size:44px;
			}

			.txt2 {
				font-size:74px;
			}
			
			.div1 {
				margin-left:30px;
			}
		
			.div3 {
				margin-left:170px;
			}
		}
	
		.fund-btn {
			float:right;
			margin:0;
		}
	}

	@media all and (min-width:960px) and (max-width:1119px){
		.fund-section {
			left:10%;
			right:10%;
		}
	
		.fund-txt {
			float:left;
		
			width:458px;
		
			.txt1 {
				font-size:54px;
			}

			.txt2 {
				font-size:84px;
			}
			
			.div1 {
				margin-left:30px;
			}
		
			.div3 {
				margin-left:190px;
			}
		}
	
		.fund-btn {
			float:right;
			margin:15px 0 0 0;
		}
	}

	@media all and (min-width:1120px) and (max-width:1279px){
		.fund-section {
			left:10%;
			right:10%;
		}
	
		.fund-txt {
			float:left;
		
			width:516px;
		
			.txt1 {
				font-size:66px;
			}

			.txt2 {
				font-size:96px;
			}
			
			.div1 {
				margin-left:35px;
			}
		
			.div3 {
				margin-left:220px;
			}
		}
	
		.fund-btn {
			width:350px;
			float:right;
			margin:30px 0 0 0;
			
			span {
				font-size:15px;
			}
		}
	}

	@media all and (min-width:1280px){
		.fund-section {
			right:5%;
			width:1020px;
			margin:0 auto;
		}
	
		.fund-txt {
			float:left;
		
			width:516px;
		
			.txt1 {
				font-size:66px;
			}

			.txt2 {
				font-size:96px;
			}
			
			.div1 {
				margin-left:35px;
			}
		
			.div3 {
				margin-left:220px;
			}
		}
	
		.fund-btn {
			width:350px;
			float:left;
			margin:30px 0 0 150px;
			
			span {
				font-size:15px;
			}
		}
	}	//replacement of startfund-section
}

#search {
	
	background-color: #ffffff;

  .container-box {
      border: 1px solid gainsboro;
      border-radius: 3px;
      background: white;
      margin: 10px 0px 40px 0px;
      padding: 30px;
      h2 {
          margin: 0 0 20px;
      }
	  
  	@media all and (max-width: 768px){
		
		h4 {
  			margin-left: -15px;
			margin-right: -15px;
		}
		
  		.col-md-4 {
  			padding-left: 0px;
			padding-right: 0px;
  		}
		
  		.col-md-5 {
  			padding-left: 0px;
			padding-right: 0px;
  		}
		
  		.col-md-7 {
  			padding-left: 0px;
			padding-right: 0px;
  		}
		
  	}
	
  }
	
	.pagination {
		.first, .prev, .page, .next, .last {
			display: inline-block;
			font-size:16px;
			margin-right: 15px;
		}
		
		.current {
			color:orange;
			font-weight:600;
		}
		
		.gap {
			display:none;
		}
	}
	
	.hide_search_camp_tips_container {
		position:absolute; 
		bottom:0px; 
		right:5px;
	}
	
	@media all and (max-width: 560px){
		
		.hide_search_camp_tips_container {
			position: static;
			margin-top:10px;
		}
		
	}
		
}