* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    border: none;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    font-family: "Microsoft Yahei", "Helvetica Neue", Hiragino, Sans, GB, W3, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    background: url(yqj_bg.jpg) repeat;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100% !important;
}

.none {
    display: none
}

.clear {
    clear: both;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fb {
    font-weight: bold;
}

.cpm-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 96;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}

.cpm-dialog-mod {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center
}

.cpm-dialog {
    position: relative;
    z-index: 100;
    width: auto;
    min-width: 170px;
    margin: 2px 20px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #fff
}

.cpm-dialog .icon-load, .cpm-dialog .i-delete:before {
    background: url("loading.gif") no-repeat
}

.cpm-dialog-load .dialog-bd {
    padding: 45px 0;
    font: 14px/1.5 "Microsoft YaHei", Helvetica, sans-serif;
}

.cpm-dialog-load .icon-load {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-bottom: 20px;
    vertical-align: top;
    background-size: 32px auto;
    -webkit-animation: dialogLoading 1s linear infinite
}

@-webkit-keyframes dialogLoading {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.cpm-dialog-modx {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
}

.detail .top {
    position: relative;
    z-index: -1;
}

.detail .eqj_start_logo {
    width: 72px;
    height: 22px;
    background: url(yqj_logo.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    top: 15px;
}

.detail .top .hd {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 50%;
    margin-top: -50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 90px;
    padding: 5px;
}

.detail .top .hd img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.detail .named {
    text-align: center;
    margin-top: -6px
}

.detail .named .tt {
    font-size: 18px;
    color: #ff4a12;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

.detail .named .dd {
    margin: 2px 15px 5px;
    font-size: 14px;
    color: #343333;
    line-height: 20px;
}

.detail .mtip {
    background: rgba(55, 55, 55, 0.8);
    color: #ffffff;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 13px;
}

.detail .mtip .mtbtn {
    float: right;
    margin-right: 20px;
    display: inline-block;
    width: 50px;
    border-radius: 40px;
    background: #ffffff;
    color: #666666;
    text-align: center;
}

.detail .profile {
    position: relative;
    margin: -25px 15px 10px 15px;
}

.detail .profile .hd {
    width: 100%;
    height: 54px;
}

.detail .profile .hd img {
    width: 185px;
    height: 108px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -92px;
    z-index: 100;
}

.detail .profile .tt {
    margin-left: 80px;
    font-size: 16px;
    color: #ff4a12;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 205px;
}

.detail .profile .ctx {
    border: 1px solid #e1dedd;
    border-radius: 6px;
    background: #fff;
    color: #6e645f;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.detail .profile .ctx .num {
    text-align: left;
    width: 50%;
    float: left;
    font-size: 13px;
    line-height: 20px;
    color: #b0a7a2;
}

.detail .profile .ctx .num div {
    margin: 10px 20px 15px;
}

.detail .profile .ctx .num div span {
    color: #f26123;
    margin: 0 3px;
    font-size: 14px;
    font-weight: bold
}

.detail .profile .ctx .tr {
    text-align: right;
}

.detail .profile .ctx .dd {
    margin: 8px 8px 8px 75px;
    font-size: 14px;
    line-height: 18px;
}

.detail .profile .ctx .ot {
    text-align: center;
    margin: 20px 10px 0px;
}

.detail .profile .ctx .ot .ls {
    margin: 0 0 8px 0;
    position: relative;
    text-align: center;
}

.detail .profile .ctx .ot .ls div {
    display: inline-block;
    width: 14%;
    overflow: hidden;
    padding: 0 3px;
}

.detail .profile .ctx .ot .ls div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.detail .profile .ctx .ot .otd {
    font-size: 12px;
    margin-top: 5px;
}

.detail .profile .ctx .ot .otd span {
    margin: 0 3px;
    color: #ff4a12;
}

.detail .time_info {
    margin: 0px 15px 10px;
}

.detail .time_info .title {
    font-size: 18px;
    color: # #f26123;
    margin-bottom: 8px;
    font-family: "Microsoft Yahei";
}

.detail .time_info p {
    line-height: 21px;
}

.detail .time_info .tt {
    position: relative;
    font-size: 16px;
    color: #6a6561;
    overflow: hidden;
    padding: 15px 15px 15px 70px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d7d4ce;
}

.detail .time_info .tt .tt_color {
    color: #c60502;
}

.detail .time_info .tt .peijuan_tips {
    position: absolute;
    left: -24px;
    top: 10px;
    padding: 4px 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 13px;
    color: #fff;
    background-color: #c60603;
}

.detail .time_info .tt .tt_time {
    margin-right: 5px;
}

.detail .project {
    position: relative;
    margin: 10px 15px 10px 15px;
    background: #fff;
    border: 1px solid #e1dedd;
    border-radius: 5px;
}

.detail .project .ttbg {
    background: #fff;
    border-bottom: 1px solid #dddcda;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.detail .project .tt {
    color: #6e635f;
    font-size: 14px;
    text-align: center;
    width: 90px;
    height: 22px;
}

.detail .project .nmoney {
    font-size: 12px;
    color: #b0a7a2;
    position: absolute;
    right: 10px;
    top: 0;
}

.detail .project .ctx {
    padding: 12px 12px 5px 12px;
    color: #6e645f;
    position: relative;
}

.detail .project .ctx .pimg {
    width: 80px;
    height: 60px;
    border-radius: 6px;
    float: left;
}

.detail .project .ctx .ptt {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    line-height: 22px;
}

.detail .project .ctx .arri img {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 18px;
    height: 18px;
    background: url(arr_down.png) no-repeat;
    background-size: 18px 18px;
}

.detail .project .ctx .arriup img {
    background: url(arr_up.png) no-repeat;
    background-size: 18px 18px;
}

.detail .project .ctx .arria span {
    display: none;
    float: left;
}

.detail .project .ctx .arrib {
    position: fixed;
    top: -5px;
    width: 50px;
    border: 1px solid #d4d4d4;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    right: 15px;
    z-index: 200;
}

.detail .project .ctx .arrib span {
    display: block;
}

.detail .project .ctx .arrib img {
    margin-top: -4px;
    right: 8px;
    background: url(arr_up.png) no-repeat;
    background-size: 18px 18px;
}

.detail .project .ctx .pdd {
    margin: 3px 0 0 90px;
    font-size: 14px;
    height: 34px;
    overflow: hidden;
    color: #b1a8a3;
    line-height: 18px;
}

.detail .project .bt {
    color: #b1a8a3;
    font-size: 13px;
    line-height: 25px;
    padding: 0 0 8px 10px;
}

.detail .project .bt img {
    width: 14px;
    height: 14px;
    float: right;
    margin: 5px 10px 0 0;
    background: url(arr_up.png) no-repeat;
    background-size: 15px 15px;
}

.detail .project .ctx .summary {
    position: relative;
    border-top: 1px dotted #b4b2b0;
    margin: 25px 0 0 0;
}

.detail .project .ctx .summary .st {
    color: #6e645f;
    background: #e9e3d8;
    font-size: 12px;
    width: 70px;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    top: -11px;
    left: -12px;
    line-height: 22px;
}

.detail .project .ctx .summary .desc {
    margin-top: 20px;
    font-size: 15px;
}

.detail .project .ctx .summary .desc h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.detail .project .ctx .summary .desc p {
    font-size: 15px;
    line-height: 24px;
    margin: 5px 0 15px;
}

.detail .project .xybs {
}

.detail .project .xybs .xtt {
    overflow: hidden;
    color: #6e6361;
    font-size: 14px;
    border-top: 1px solid #dddbdc;
    border-bottom: 1px solid #dddbdc;
    padding: 8px 12px;
}

.detail .project .xybs .xtt span {
    color: #fe7816;
    margin: 0 3px;
}

.detail .project .xybs .xtt img {
    width: 10px;
    height: 17px;
    vertical-align: middle;
    float: right;
}

.detail .project .xybs .xbtns {
    width: 100%;
    text-align: center;
}

.detail .project .xybs .xbtns .btn {
    display: inline-block;
    padding: 4px 20px;
    text-align: center;
    line-height: 30px;
    color: #6e645f;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #dddbdc;
    margin-bottom: 10px;
}

.detail .project .xybs .xbtns .btn img {
    margin-right: 5px;
    width: 23px;
    height: 23px;
    vertical-align: -5px
}

.detail .project .xybs .xbtns .btn span {
    margin-left: 6px;
}

.detail .project .xybs .xitems {
    padding: 10px 10px 15px 10px;
}

.detail .project .xybs .xitems .li {
    padding: 0 0 15px;
    overflow: hidden;
    position: relative;
}

.detail .project .xybs .xitems .li .icon {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    float: left;
}

.detail .project .xybs .xitems .li p {
    font-size: 14px;
    margin-left: 50px;
    min-height: 20px;
    line-height: 20px;
    color: #afa7a4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail .project .xybs .xitems .li .rel {
    font-size: 12px;
    min-height: 20px;
    line-height: 20px;
    color: #afa7a4;
}

.detail .project .xybs .xitems .li .arr {
    position: absolute;
    top: 43px;
    left: 12px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #f2f0ef;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
    float: left;
}

.detail .project .xybs .xitems .li .box {
    background: #f7f5f6;
    color: #6e645f;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.detail .project .xybs .xitems .li:last-child {
    padding: 0;
}

.detail .payinfo {
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    color: #6a6561;
    font-size: 13px;
    background: #fff;
    border-top: 1px solid #e4ddd9;
}

.detail .payinfo span {
    color: #ff4a12;
    margin: 0 5px;
}

.detail .payinfo .ptb td {
    padding: 0px;
}

.detail .payinfo .ptb span {
    color: #ec7116;
    margin: 0 2px;
}

.detail .payinfo .ptb .pb {
    background: #d5d3d2;
    width: 100%;
    float: left;
    border-radius: 5px;
}

.detail .payinfo .ptb .pb .pbr {
    background: #ff6b0b;
    float: left;
    height: 5px;
    border-radius: 5px;
}

.detail .list {
    background: #fff;
    border-top: 1px solid #e8e7e6;
}

.detail .list .itt {
    margin: 0 15px;
    border-bottom: 1px dotted #e8e7e6;
    padding: 10px 0;
    font-size: 14px;
    color: #4c4c4c;
}

.detail .list .items .li {
    margin: 0 15px;
    border-bottom: 1px dotted #e8e7e6;
    padding: 10px 0;
}

.detail .list .items .li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
}

.detail .list .items .li .nick {
    font-size: 14px;
    color: #343333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    height: 20px;
    line-height: 20px;
}

.detail .list .items .li .m {
    font-size: 13px;
    float: right;
    color: #6a6561;
}

.detail .list .items .li .m span {
    color: #ff4a12;
}

.detail .list .items .li .dd {
    font-size: 12px;
    color: #b0a7a2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    height: 20px;
    line-height: 20px;
}

.detail .list .items .li .t {
    float: right;
    font-size: 12px;
    color: #b0a7a2;
}

.detail .list .items .more {
    font-size: 12px;
    text-align: center;
    padding: 10px;
    color: #6a6561;
}

.detail .list .items .more img {
    width: 16px;
    vertical-align: -4px;
    margin-right: 3px;
}

.detail .list .items .rli .nick {
    color: #b0a7a2;
}

.detail .list .items .rli .m {
    color: #b0a7a2;
}

.detail .list .items .rli .m span {
    color: #b0a7a2;
}

.detail .items .li:last-child {
    border-bottom: none;
}

.detail .list_more {
    background: #fff;
    border-top: 1px solid #e8e7e6;
    border-bottom: 1px solid #e8e7e6;
}

.detail .list_more .list_more_btn {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #6e645f;
    font-size: 14px;
    text-align: center;
}

.detail .btns {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #dad7d0;
    z-index: 500
}

.detail .btns .btn {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    background: #ff6811;
}

.detail .btns .btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: -4px;
}

.detail .footer {
    width: 100%;
    text-align: center;
}

.detail .footer img {
    width: 102px;
    height: 18px;
    margin: 20px 10px 10px 10px;
}

.detail .complete .btn {
    width: 240px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #736f6b;
    display: inline-block;
    border-radius: 5px;
    border: 1px #fe7225 solid;
    text-align: center;
    background: #ffffff;
    border: 1px solid #c8c4bf;
}

.detail .complete .btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: -4px;
}

.detail .complete .tt {
    font-weight: bold;
    color: #736f6b;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
}

.detail .complete .td {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 14px;
}

.detail .complete .btnd {
    background: #e6e6e6;
}

.detail .prog_result {
    text-align: center;
    margin-bottom: 20px;
}

.detail .prog_result img {
    width: 100%;
    margin: 30px 0 10px;
}

.detail .prog_result div {
    margin-top: 5px;
    font-size: 14px;
    color: #929292;
}

.detail .prog_result .r {
    color: #ff6713;
    font-size: 18px;
}

.detail .prog_result .d {
    font-size: 12px;
    margin: 0px 0;
}

.detail .prog_result .d span {
    color: #ff6713;
}

.detail .addr {
    background: #373d40;
    line-height: 30px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
}

.detail .addr .abtn {
    float: right;
    line-height: 20px;
    border-radius: 17px;
    padding: 0 10px;
    font-size: 12px;
    margin-top: 5px;
    background: #d7d8d9;
    color: #22292c;
}

.detail .pay_result {
    margin: 20px 0 10px 0;
}

.detail .pay_result .msg {
    border: 1px solid #d8d4cf;
    border-radius: 8px;
    font-size: 14px;
    height: 35px;
    background: #fff;
    margin: 0 15px;
    width: 91%;
    padding: 5px;
    outline: none;
    min-height: 51px;
}

.detail .pay_result .msg .txt {
    width: 80%;
    float: left;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.detail .pay_result .msg .txt input {
    margin: 0 10px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 35px;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0;
    box-sizing: border-box;
    cursor: auto;
    -webkit-writing-mode: horizontal-tb;
}

.detail .btn_area {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.detail .btn_area .coutwork {
    width: 50%;
    float: left;
}

.detail .btn_area .message_btn {
    width: 50%;
    float: right;
    text-align: right;
}

.detail .pay_result .msg .txt .d {
    color: #b4b2b0;
    font-size: 14px;
}

.detail .pay_result .msg .txt .sd {
    color: #333333;
}

.detail .pay_result .msg .btn {
    width: 20%;
    float: right;
    text-align: center;
    height: 35px;
    background: #ff6b0b;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.detail .pay_result .msg .dis {
    background: #b6b6b6;
}

.detail .pay_result .ds {
    color: #bdbcba;
    font-size: 13px;
    margin: 0 20px;
    line-height: 26px;
    text-align: center;
}

.detail .pay_result .t {
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
}

.detail .pay_result .c .tt {
    display: none;
}

.detail .pay_result .t .tt {
    display: block;
    font-size: 20px;
}

.detail .pay {
    background: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.detail .pay .t {
    border-top: 1px solid #dad7d0;
    border-bottom: 1px solid #d2d2d2;
    line-height: 40px;
}

.detail .pay .t span {
    margin-left: 10px;
    color: #56504d;
}

.detail .pay .t .close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}

.detail .pay .t .close img {
    width: 15px;
    height: 15px;
    margin-top: 12px;
}

.detail .pay .box {
    margin: 20px;
}

.detail .pay .box .tb {
    width: 100%;
    font-size: 16px;
    color: #b0a7a2;
}

.detail .pay .box .tb input {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    background: #ffffff;
    text-align: center;
    color: #fc7d37;
    -webkit-appearance: none;
}

.detail .pay .box .btn {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    background: #ff6811;
}

.detail .pay .prot {
    font-size: 14px;
    color: #b0a7a2;
    margin-top: 10px;
    text-align: center;
}

.detail .pay .prot .check {
    width: 12px;
    height: 12px;
    vertical-align: -1px;
}

.detail .pay .prot label {
    margin-left: 10px;
}

.detail .pay .prot .p {
    float: none;
    color: #56504d;
    font-size: 14px;
}

.detail .pay .anonymous {
    font-size: 14px;
    color: #b0a7a2;
    margin-top: 10px;
    text-align: center;
}

.detail .pay .anonymous .anonymouscheck {
    width: 12px;
    height: 12px;
    vertical-align: -1px;
}

.detail .pay .anonymous label {
    margin-left: 5px;
}

.detail .pay .box .tb .l {
    margin-right: 5px
}

.detail .pay .box .tb .sel {
    font-size: 14px;
    line-height: 26px;
    border: 1px solid #c5c0b8;
    border-radius: 5px;
    word-break: break-all;
    word-wrap: break-word;
    background: #ffffff;
    padding: 4px 8px;
    text-align: center;
}

.detail .pay .box .tb .sel input {
    border: 0;
    width: 90px;
    height: 25px;
    font-size: 16px;
    color: #fc7d37;
    text-align: center;
    -webkit-appearance: none;
}

.detail .pay .box .tb .sel img {
    display: none;
}

.detail .pay .box .tb .ed {
    border: 2px solid #f37b30;
}

.detail .pay .box .tb .ed img {
    width: 14px;
    height: 14px;
    float: right;
    margin-right: -10px;
    margin-top: -5px;
    display: block;
}

.detail .pay .box .tb .sel span {
    color: #ff6811;
    font-size: 16px;
    margin-right: 3px;
}

.detail .paybgup {
    -webkit-animation: fadeIn .2s 0s ease both;
    -moz-animation: fadeIn .2s 0s ease both;
}

.detail .payup {
    -webkit-animation: fadeInUp .2s .2s ease both;
    -moz-animation: fadeInUp .2s .2s ease both
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: .99
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        -webkit-transform: translateY(400px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

.detail .tips {
    border-radius: 6px;
    border: 1px solid #d8d2d0;
    background: #ffffff;
    top: 0;
    position: absolute;
    font-size: 18px;
}

.detail .tips .ht {
    height: 5px;
    background: #f9610e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.detail .tips .cc {
    width: 250px;
    text-align: center;
    padding: 10px;
}

.detail .tips .cc .c {
    color: #756b59;
    margin: 10px 15px;
}

.detail .tips table {
    width: 100%;
    height: 44px;
    border-top: 1px solid #e6e4e2
}

.detail .tips table td {
    text-align: center;
    color: #ff6c0a;
    border-right: 1px solid #e6e4e2
}

.detail .tips table td:last-child {
    border-right: 0;
}
