// Place all the styles related to the shop_mall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.shop_mall {

  padding-bottom: 60px;
  * {
    margin: 0;
    padding: 0;
    list-style: none;

  }
  a{
    color: #333;
  }

  hr {
    margin: 0;
    border: 0px none;
    border-top: 1px solid #eee;
  }
  #divSmallBox {
    overflow: hidden;
    *display: inline;
    *zoom: 1;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 10px;
    background: #ffffff;
  }
  .playbox {
    width: 500px;
    min-height: 380px;
    max-height: 600px;
    //margin: 20px auto;
    background: #333;
    position: relative;
    overflow: hidden;
  }
  .playbox .oUlplay {
    width: 99999px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .playbox .oUlplay li {
    position: absolute;
    //float: left;
    height: 100%;
  }
  .playbox .oUlplay li img{
    width: 100%;
    height: 100%;
  }
  .playbox .pre {
    background: image-url("l.png");
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 45%;
    left: 10px;
    z-index: -100;//1
  }
  .playbox .next {
    background: image-url("r.png");
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 45%;
    right: 10px;
    z-index: -100;//1
  }
  .playbox .smalltitle {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 15px;
    z-index: 1;
  }
  .playbox .smalltitle ul {
    width: 120px;
    margin: 0 auto;
  }
  .playbox .smalltitle ul li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 10px;
    background: #CCCCCC;
    float: left;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
  }
  .playbox .smalltitle .thistitle {
    background: #69aaec;
  }

  .goods-header {
    height: auto;
    padding: 8px 0 6px;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
  }
  .goods-header .title {
    font-weight: 400;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }
  .goods-price {
    padding: 5px 10px 2px;
    text-align: left;
  }
  .current-price {
    color: #f60;
    display: inline-block;
    font-size: 14px;
  }
  .current-price>span {
    display: inline-block;
    vertical-align: middle;
    font-size: small;
  }
  .current-price .price {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
  .goods-price i {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    vertical-align: baseline;
  }
  .original-price {
    text-decoration: line-through;
    vertical-align: middle;
    color: #999;
    font-size: 14px;
    display: inline-block;
  }
  .sku-detail {
    position: relative;
    margin-bottom: 5px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
  .sku-detail .sku-detail-inner {
    padding: 1px 10px;
  }
  .sku-detail .sku-group {
    position: relative;
    padding-top: 1px;
    margin-top: -1px;
  }
  .sku-detail dt {
    float: left;
    color: #999;
  }
  .sku-detail dl {
    margin: 8px 0;
    zoom: 1;
  }
  .sku-detail .sku-group .sku-item {
    padding-right: 15px;
  }
  .sku-detail .sku-group:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    width: 6px;
    height: 11px;
    background: image-url('mallico.png');
    background-position: -40px -18px;
    background-size: 58px 48px;
  }
  .custom-store
  {
    font-size: small;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  .goods-content
  {
    background-color:white;
    padding: 15px 5px 15px 5px;
  }
  .goods-content img
  {
     width: 100%;
  }

  .goods-bottom
  {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 5px 0px 5px 0px;
    background-color: white;
  }
  .goods-bottom p
  {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin-left: 5px;

  }
  .goods-bottom p a{

    background-color: #f15a0c;
    color: white;
  }

  .weui_mask_transition
  {

  }
  .orders
  {
    background-color: white;
    height: 50px;
    width: 100%;
    padding: 15px 10px 0px 10px;
  }
  .orders .orders_ico
  {
    height: 90%;
    float: left;
  }
  .orders .orders_ico img
  {
    width: 100%;
    height: 100%;
  }
  .orders .orders_des
  {
    width: 80%;
    float: left;
  }
  .orders .cancel-img
  {

    width: 27px;
    height: 27px;
    position: absolute;
    top:20px;
    right: 5px;
    background: image-url('buyicon.png');
    background-position: 0 -108px;
    background-size: 40px auto;
  }
  .orders-type
  {
    //height: 80px;
    padding: 5px 0px 10px 10px;
  }
  .orders-type p
  {
    padding-left: 10px;
  }
  .orders-type ul
  {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .orders-type li
  {
    margin-top: 5px;
  }
  .orders-type .tag
  {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 12px;
  
    float: left;
    padding: 5px;
    margin-left: 5px;
  }

  .orders-count
  {
    height: 30px;
    padding: 10px;

  }
  .orders-count p
  {
    height: 30px;
    vertical-align: top;
  }
  .orders-count button{
    width: 37px;
    height: 29px;
    background-color: #fff;
    border: 1px solid #999;
  }
  .orders-count input
  {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: text;
    width: 33px;
    height: 25px;
    padding: 1px;
    border: 1px solid #999;
    border-width: 1px 0;
    vertical-align: top;
    text-align: center;
    margin-left: -3px;
    margin-right: -4px;
    background-color: white;
    border-radius: 0px;
    color: black;
    visibility: visible;
    -webkit-writing-mode: horizontal-tb;
  }
  #footer_cart{

    color:#f15a0c;
    position: fixed;
    font-size: 16px;
    bottom: 60px;
    right: 12px;
    font-weight: bold;
    text-align: right;
    width: 38px;
    z-index: 1;
    zoom: 1;
  }
  #footer_cart span
  {
    font-size: smaller;
  }
  .goods-bottom-head
  {
    p{

      text-align: center;
      padding: 10px 0 10px 0px;
      color: #999;

    }
  }
  #personal_story_header
  {
    /*background-image: url("/images/personals/p_11.jpg");*/
    background-color: white;
    /*background-size: cover;*/
    /*height: 400px;*/
  }
  #personal_story_header .title
  {
    position:absolute;
    z-index: 1000;
    background-color: silver;

    background:transparent none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    filter:Alpha(opacity=80); background:#fff;/*实现IE背景透明*/
  }
  #personal_story_header h4
  {
    color: white;
    text-align: left;
    padding-left: 5px;
  }
  #personal_story_content
  {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 60px;
    line-height: 1.5;

  }
  #personal_story_content span {
    text-align:left;
    margin-left:20px;
    color: #333333;
  }
  #personal_story_content img {
    margin: 5px auto;
  }

  #personal_story_footer
  {
    /*position: fixed;*/
    /*top: 100%;*/
    /*left: 0px;*/
    /*background:black;*/
    width: 100%;
    background:transparent none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    filter:Alpha(opacity=80); background:#fff;/*实现IE背景透明*/

  }
  #personal_story_footer button
  {
    width: 40%;
    font-size: 16px;
    font-weight: bold;
  }
  #personal_modalbody
  {
    font-weight: bold;
    .weui_cell:before
    {
      left: 0px;
    }
  }
  #personal_modalbody a
  {
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
  #personal_modalbody a span
  {
    font-weight:normal;
    color: black;
    padding-left: 2px;
  }
  #personal_modalbody input
  {
    height: 45px;
  }
}

.product_pay
{
    background-color: rgb(238, 238, 238);
}

.product_cart
{
  .bottom_count {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: left;
    height: 50px;
  }

  .bottom_count p {
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bottom_count p i {
    padding-top: 10px;
    float: left;
  }

  .bottom_count p a {
    width: 80%;
  }
  .orders-count
  {
    height: 30px;
  }
  .orders-count p
  {
    height: 30px;
    vertical-align: top;
  }
  .orders-count button{
    width: 37px;
    height: 29px;
    background-color: #fff;
    border: 1px solid #999;
  }
  .orders-count input
  {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: text;
    width: 33px;
    height: 25px;
    padding: 1px;
    border: 1px solid #999;
    border-width: 1px 0;
    vertical-align: top;
    text-align: center;
    margin-left: -3px;
    margin-right: -4px;
    background-color: white;
    border-radius: 0px;
    color: black;
    visibility: visible;
    -webkit-writing-mode: horizontal-tb;

  }
  #personal_modalbody
  {
    font-weight: bold;
    .weui_cell:before
    {
      left: 0px;
    }
  }
  #personal_modalbody a
  {
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
  #personal_modalbody a span
  {
    font-weight:normal;
    color: black;
    padding-left: 2px;
  }
  #personal_modalbody input
  {
    height: 45px;
  }
  #actionSheet_wrap
  {
    .title
    {
      background-color: white;
      height: 40px;
      width: 100%;
      padding: 5px 10px 0px 10px;
      .cancel-img {
        width: 27px;
        height: 27px;
        position: absolute;
        top: 10px;
        right: 5px;
        background: image-url('buyicon.png');
        background-position: 0 -108px;
        background-size: 40px auto;
      }
    }
  }

}

.party-view {
  padding-bottom: 60px;
  * {
    margin: 0;
    padding: 0;
    list-style: none;

  }
  a {
    color: #333;
  }

  hr {
    margin: 0;
    border: 0px none;
    border-top: 1px solid #eee;
  }
  .goods-content {
    background-color: white;
    padding: 15px 5px 15px 5px;
  }
  .goods-content img {
    width: 100%;
  }
  .detail_title {
    background-color: #FFF;
    padding: 15px 10px 5px;
    overflow: hidden;
    .detail_title_h1 {
      font-size: 18px;
      color: #000;
      line-height: 25px;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 50px;
    }
  }

  .hdMan {
    overflow: hidden;
    background-color: #FFF;
    height: 26px;
    position: relative;
    .userPicA {
      overflow: hidden;
      width: 26px;
      height: 26px;
      border-radius: 26px;
      position: absolute;
      left: 10px;
      top: 0;
      img {
        width: 26px;
        height: 26px;
      }
    }
    .hdman_r {
      padding-left: 44px;
      line-height: 26px;
      padding-right: 10px;
      height: 26px;
      overflow: hidden;
      .yhName {
        float: left;
        .subinfo_name {
          color: #0099e9;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          overflow: hidden;
          float: left;
          max-width: 30px;
          font-size: 13px;
        }
        p {
          display: inline-block;
          float: left;
          padding-left: 5px;
          font-size: 13px;
          color: #999;
        }
      }
      .dt_review_item_count {
        display: inline-block;
        float: right;
        a {
          display: inline-block;
          float: right;
          margin-left: 8px;
          font-size: 13px;
          color: #999;
        }
        span {
          display: inline-block;
          float: right;
          font-size: 13px;
          color: #999;
        }
      }
    }
  }

  .detail_time_attr_join {
    overflow: hidden;
    background-color: #FFF;
    padding: 10px;
    .detail_time_attr_join_gray {
      overflow: hidden;
      background-color: #f5f5f5;
      .detail_Time {
        overflow: hidden;
        border-bottom: 1px solid #e7e7e7;
        padding: 7px 0 5px;
        margin-left: 8px;
        position: relative;
        .icon_T {
          width: 14px;
          height: 14px;
          position: absolute;
          left: 0;
          top: 11px;
        }
        .detail_Time_n p {
          padding-left: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #000;
          span {
            font-size: 12px;
            color: #999;
          }
        }
      }
      .detail_Attr {
        overflow: hidden;
        .dt_address_item {
          display: block;
          overflow: hidden;
          .detail_Attr_K {
            border-bottom: 1px solid #e7e7e7;
            margin-left: 8px;
            .addressP {
              display: block;
              padding: 10px 10px 10px 20px;
              line-height: 18px;
              text-align: left;
              color: #000;
              font-size: 14px;
              background: url(http://cdn.hudongba.com/static_v4/images/detail/xd_icon_5.png) no-repeat 0 12px;
              background-size: 13px 16px;
            }
          }
        }
      }
      .detail_Joinnum {
        overflow: hidden;
        padding: 8px 0 10px;
        margin-left: 8px;
        .detail_Joinnum_t {
          display: inline-block;
          padding-left: 20px;
          background: url(http://cdn.hudongba.com/static_v4/images/detail/icon_man.png) no-repeat 0 2px;
          background-size: 14px 14px;
          font-size: 14px;
          color: #000;
          padding-bottom: 5px;
          line-height: 16px;
        }
        .detail_Joinnum_b {
          padding: 2px 5px 0 20px;
          font-size: 12px;
          color: #999;
        }
      }
    }
  }

  .dt_content {
    padding: 8px 10px;
    line-height: 28px;
    text-align: left;
    font-size: 16px;
    color: #000;
    background-color: #FFF;
    img{
      width: 100%;
    }
  }

  .detail_pay_list {
    overflow: hidden;
    background-color: #FFF;
    padding: 0 10px;
    .detail_pay_list_top {
      height: 22px;
      text-align: left;
      font-size: 13px;
      color: #999;
      padding-top: 20px;
    }
    .detail_pay_list_ul {
      overflow: hidden;
      margin-top: -1px;
      li {
        overflow: hidden;
        border-top: 1px solid #e7e7e7;
        position: relative;
        div {
          overflow: hidden;
          padding: 6px 65px 6px 0;
        }
        .detail_pay_list_s {
          position: absolute;
          right: 0;
          top: 8px;
          display: inline-block;
          height: 18px;
          line-height: 18px;
          padding: 0 3px;
          background-color: #9ab5e9;
          color: #FFF;
          font-size: 12px;
          min-width: 32px;
          text-align: center;
        }
      }
    }
  }

  .dt_join_menu_bg {
    overflow: hidden;
    padding: 20px 10px 0;
    background-color: #FFF;
    .dt_join_top {
      overflow: hidden;
      height: 43px;
      background-color: #f5f5f5;
      .dt_join_topL {
        display: inline-block;
        color: #999;
        float: left;
        margin-left: 8px;
        line-height: 43px;
        font-size: 14px;
        span {
          word-break: break-all;
        }
      }
    }
    .dt_list_main {
      overflow: hidden;
      background-color: #f5f5f5;
      border-top: 1px solid #e7e7e7;
      li {
        overflow: hidden;
        padding-left: 8px;
        .dt_review_K {
          height: 43px;
          border-top: 1px solid #e7e7e7;
        }
        .dt_guess_item_icon {
          overflow: hidden;
          float: left;
          margin: 9px 6px 0 0;
          a {
            display: inline-block;
            img {
              width: 25px;
              height: 25px;
              border-radius: 25px;
            }
          }
        }
        .dt_guess_item_title {
          display: inline-block;
          float: left;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          overflow: hidden;
          text-align: left;
          line-height: 43px;
          width: 60%;
          a {
            font-size: 14px;
            color: #0099e9;
          }
        }
        .dt_guess_item_time {
          color: #999;
          display: inline-block;
          float: right;
          margin-right: 8px;
          font-size: 12px;
          line-height: 43px;
        }
      }
    }
    .dt_join_more {
      overflow: hidden;
      background-color: #f5f5f5;
      text-align: center;
      .moreBtn {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        span {
          display: inline-block;
          background: url(http://cdn.hudongba.com/static_v4/images/detail/form_more2x2.png) no-repeat right center;
          padding-right: 20px;
          background-size: 12px 12px;
          margin: 12px auto;
          color: #0099e9;
          font-size: 14px;
          height: 19px;
          line-height: 19px;
        }
      }
    }
  }

  .goods-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 5px 0px 5px 0px;
    background-color: white;
    p {
      display: inline-block;
      text-align: center;
      width: 45%;
      margin-left: 5px;
    }
  }

  .orders
  {
    background-color: white;
    height: 50px;
    width: 100%;
    padding: 15px 10px 0px 10px;
    .orders_ico
    {
      height: 90%;
      float: left;
      img
      {
        width: 100%;
        height: 100%;
      }
    }
    .orders_des
    {
      width: 80%;
      float: left;
    }
    .cancel-img
    {

      width: 27px;
      height: 27px;
      position: absolute;
      top:20px;
      right: 5px;
      background: image-url('buyicon.png');
      background-position: 0 -108px;
      background-size: 40px auto;
    }
  }
  .party-input
  {

  }
}

.party-ticket-view
{

  overflow: hidden;
  .pzJuan_outside {
    overflow: hidden;
    padding: 15px;
    position: relative;
    .txt_ts {
      font-size: 16px;
      text-align: center;
      color: #999;
      padding-bottom: 10px;
    }
    i {
      display: block;
      height: 10px;
      overflow: hidden;
      position: absolute;
      left: 15px;
      right: 15px;
      overflow: hidden;
      z-index: 105;
      img {
    ;
      }
    }
    u {
      display: block;
      height: 80px;
      width: 80px;
      position: absolute;
      right: 20px;
      top: 217px;
      overflow: hidden;
      z-index: 105;
      img {
        height: 80px;
        width: 80px;
      }
    }
    .hdb_lg_out {
      height: 23px;
      width: 80%;
      position: absolute;
      bottom: 20px;
      left: 10%;
      z-index: 105;
      text-align: center;
      background-color: #FFF;
       span {
        display: block;
        width: 202px;
        height: 16px;
        margin: 0 auto;
        text-align: left;
        background-color: #FFF;
         img {
          width: 202px;
          height: 16px;
        }
      }
    }
    .pay_n
    {
      p {
        background-color: #0099e9;
      }
      .ticket_tittle {
        padding: 20px 10px 15px;
        font-size: 15px;
        color: #FFF;
        text-align: center;
        line-height: 18px;
        a span {
          color: #FFF;
        }
        b {
          border-bottom: 1px solid #49bdfa;
          display: block;
          height: 12px;
        }
      }
      .ticket_numMa {
        font-size: 12px;
        color: #FFF;
        text-align: center;
        padding: 5px 0 15px;
        span {
          font-size: 16px;
        }

      }
      .ticket_img {
        text-align: center;
        padding-bottom: 2px;
        img {
          width: 138px;
          height: 138px;
          margin: 4px;
        }
        span {
          width: 146px;
          height: 146px;
          display: block;
          margin: 0 auto;
          overflow: hidden;
          background-color: #FFF;
        }
      }

      .ticket_tit {
        padding: 12px 10px 18px;
        font-size: 14px;
        color: #FFF;
        text-align: center;
        line-height: 18px;
        margin-top: -2px;
        .fee_num {
          font-size: 18px;
        }
      }

      .ticket_xq {
        background-color: #FFF;
        padding-left: 12px;
        li {
          height: 42px;
          line-height: 42px;
          font-size: 14px;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-align: left;
          color: #999;
          border-top: 1px solid #f5f5f5;
          span {
            color: #333;
          }
        }
      }

      .hdb_lg {
        background-color: #FFF;
        padding: 5px 0 11px;
        text-align: center;
        margin-top: -1px;
        span {
          display: block;
          width: 202px;
          height: 16px;
          line-height: 16px;
          font-size: 13px;
          color: #e6e6e6;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}