<div class="shop_mall">
  <div id="playBox" class="playbox">
    <div class="pre"></div>
    <div class="next"></div>
    <ul class="oUlplay">
      <li><a href="#" target="_blank"><img src="/images/test/sp01.jpg"/></a></li>
      <li><a href="#" target="_blank"><img src="/images/test/sp02.jpg"/></a></li>
      <li><a href="#" target="_blank"><img src="/images/test/sp03.jpg"/></a></li>
      <li><a href="#" target="_blank"><img src="/images/test/sp04.jpg"/></a></li>
    </ul>
    <div class="smalltitle">
      <ul>
        <li class="thistitle"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="goods-header">
    <h2 class="title">ArtiArt 创意不倒杯</h2>

    <div class="goods-price ">
      <div class="current-price">
        <span>￥&nbsp;</span><i class="js-goods-price price">99.00</i>
      </div>
      <div class="original-price">
      </div>
    </div>
  </div>
  <hr class="with-margin">

  <div class="sku-detail adv-opts" style="border-top:none;">
    <div class="sku-detail-inner adv-opts-inner">
      <div class="sku-group">
        <dl class="js-select-sku sku-item">
          <dt>颜色：</dt>
          <dd>
            白色、绿色、红色
          </dd>
        </dl>
        <hr>
      </div>
      <dl>
        <dt>运费：</dt>
        <dd>免运费</dd>
      </dl>
    </div>
  </div>

  <div class="custom-store">

                        <span class="weui_icon_success_no_circle">

            </span>
    <span class="rz-name font-size-12 c-gray-darker">企业认证</span>
                        <span class="weui_icon_success_no_circle">

            </span>
    <span class="rz-name font-size-12 c-gray-darker">担保交易</span>

  </div>
  <div class="goods-content">
    <p style="text-align:center;">
      <strong>测试信息</strong>
    </p>
    <p class="MsoNormal" align="center" style="text-align:center;">
      上海闵行区颛桥绿洲读书服务中心
    </p>
    <p class="MsoNormal">
      &nbsp;
    </p>
    <p class="MsoNormal" style="text-align:center;">
      重要荣誉：无
    </p>
    <p class="MsoNormal" style="text-align:center;">
      10元描述：能够订制两本个性化“阅读护照”，帮助两个亲子家庭开展可持续性亲子阅读计划。在2016年4月23日世界阅读日到来之际，将作为一份特殊的礼物送给亲子家庭。
    </p>
    <p class="MsoNormal" style="text-align:center;">
      口号：在孩子的心中植下一片热爱阅读的绿洲
    </p>
    <p class="MsoNormal">
      &nbsp;
    </p>
    <p class="MsoNormal">
      压缩内容：
    </p>
    <p class="MsoNormal">
      上海闵行区颛桥绿洲读书服务中心是一家以面向低龄幼儿、少年儿童、年轻父母、老年人等各年龄层为对象，倡导终身互动阅读的公益机构。
    </p>
    <p class="MsoNormal" style="text-align:center;">
      <img width="267" height="356" src="/images/lzds/p_01.jpg" alt="1" />
    </p>
    <p class="MsoNormal">
      在信息化高度发达的今天，进一步继承中华传统文化精华，绿洲读书服务中心以互动阅读即读书会的方式，引领全民回归翰墨书香。读书会不是专业讲授，而是营造开放自主的氛围，激发人们从学习旁观者变成积极参与者。
    </p>
    <p class="MsoNormal" style="text-align:center;">
      <img width="294" height="220" src="/images/lzds/p_02.jpg" alt="4" />
    </p>
    <p class="MsoNormal">
      实践证明，读书会这种互动的阅读方式，有助于形成认真阅读、耐心倾听、独立思考和平等讨论的终身习惯，对于汲取人类知识精华、完善人文素养、丰富审美情趣、培养人际交往能力、提升写作和演说能力，都是极其高效的方法和门径。
    </p>
    <p class="MsoNormal" style="text-align:center;">
      <img width="300" height="225" src="/images/lzds/p_03.jpg" alt="3" />
    </p>
    <p class="MsoNormal">
      2015年起，绿洲读书服务中心开始在颛桥镇文体中心、莘闵荣顺苑小区、颛桥中心小学、华星小学、颛桥幼儿园等，成功开展了家长家庭教育读书会、亲子读书沙龙、全职妈妈成长营，青少年读书会活动。
    </p>
    <p class="MsoNormal" style="text-align:center;">
      <img width="330" height="247" src="/images/lzds/p_04.jpg" alt="2" />
    </p>
    <p class="MsoNormal">
      机构宗旨：共读经典，互动分享；汲取营养，结伴益友。
    </p>
    <p class="MsoNormal">
      机构愿景：让读书会伴随人一生的成长。
    </p>
    <p class="MsoNormal">
      &nbsp;
    </p>
    <p class="MsoNormal" style="text-align:center;">
      <img width="196" height="178" src="/images/lzds/p_logo.jpg" alt="LOGO" />
      <img width="180" height="180" src="/images/lzds/p_qrcode.jpg" alt="微信二维码" /><a name="undefined"></a>
    </p>
    <p class="MsoNormal">
      &nbsp;
    </p>

  </div>
  <div class="goods-footer">
    <hr class="with-margin">
    <p>
      <a href="#" target="_blank">店铺主页</a>
      <a href="#" target="_blank">会员中心</a>
      <a href="javascript:;" class="js-open-follow">关注我们</a>
    </p>

    <p>
      <a href="#" target="_blank">凡益信息科技(上海)有限公司技术支持</a>
    </p>

  </div>
  <div class="goods-bottom">
    <p id="showActionBuy" class="js-showActionBuy">
      <a href="javascript:;" >立即购买</a>
    </p>


    <p id="showActionBuyBox" class="js-showActionBuy" style="background-color: white;">
      <a href="javascript:;" style="color: #0c0c0c">加入购物车</a>
    </p>
  </div>
  <div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="mask"></div>
    <div class="weui_actionsheet" id="weui_actionsheet">
      <div style="background-color: white;">
      <div class="orders">
        <div class="orders_ico">
          <img  src="https://dn-kdt-img.qbox.me/upload_files/2015/12/15/FlcBEAOqUrNSc3F4NkkQO_jnl3ju.jpg?imageView2/2/w/100/h/100/q/75/format/webp" alt="">
        </div>

        <div class="orders_des">
          <p class="">ArtiArt 创意不倒杯</p>
          <div class="">
            <div class="current-price pull-left c-black">
              <span>￥</span><i>99.00</i>
            </div>
          </div>
        </div>
        <div id="actionsheet_cancel" class="cancel-img"></div>

      </div>
        <hr class="with-margin">
        <div class="orders-type">

       <p>
         颜色：
       </p>

          <ul class="">
            <li class="tag">白色</li>
            <li class="tag">绿色</li>
            <li class="tag">红色</li>
          </ul>

        </div>
        <hr class="with-margin">
        <div class="orders-count">
          <p>
            <span style="float: left;margin-top: 5px;">数量：</span>
            <span style="float: right;">
               <button class="minus" type="button" disabled="true"><span>-</span></button>
              <input type="text" class="txt" value="1">
              <button class="plus" type="button"><span>+</span></button>
            </span>
          </p>
        </div>
        <hr>
        <div id="btn_buy_next" style="padding: 10px;">
          <a href="<%= shop_mall_product_pay_path%>" style="background-color: rgb(241, 90, 12); color:white;" class="weui_btn weui_btn_warn">下一步</a>
        </div>
        <div id="btn_buy_box" style="padding: 10px;">
          <a href="<%= shop_mall_product_pay_path%>" style="background-color: rgb(241, 90, 12); color:white;" class="weui_btn weui_btn_warn">加入购物车</a>
        </div>
      </div>
      <!--<div class="weui_actionsheet_menu">-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
      <!--</div>-->
      <!--<div class="weui_actionsheet_action">-->
        <!--<div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>-->
      <!--</div>-->
    </div>
  </div>
</div>