<div class="shop_mall">
  <div id="playBox" class="playbox">
    <div class="pre"></div>
    <div class="next"></div>
    <ul class="oUlplay">
      <li><a href="#" target="_blank"><img src="/images/test/sp01.jpg"/></a></li>
      <li><a href="#" target="_blank"><img src="/images/test/sp02.jpg"/></a></li>
      <li><a href="#" target="_blank"><img src="/images/test/sp03.jpg"/></a></li>
      <li><a href="#" target="_blank"><img src="/images/test/sp04.jpg"/></a></li>
    </ul>
    <div class="smalltitle">
      <ul>
        <li class="thistitle"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="goods-header">
    <h2 class="title">ArtiArt 创意不倒杯</h2>

    <div class="goods-price ">
      <div class="current-price">
        <span>￥&nbsp;</span><i class="js-goods-price price">99.00</i>
      </div>
      <div class="original-price">
      </div>
    </div>
  </div>
  <hr class="with-margin">

  <div class="sku-detail adv-opts" style="border-top:none;">
    <div class="sku-detail-inner adv-opts-inner">
      <div class="sku-group">
        <dl class="js-select-sku sku-item">
          <dt>颜色：</dt>
          <dd>
            白色、绿色、红色
          </dd>
        </dl>
        <hr>
      </div>
      <dl>
        <dt>运费：</dt>
        <dd>免运费</dd>
      </dl>
    </div>
  </div>

  <div class="custom-store">

                        <span class="weui_icon_success_no_circle">

            </span>
    <span class="rz-name font-size-12 c-gray-darker">企业认证</span>
                        <span class="weui_icon_success_no_circle">

            </span>
    <span class="rz-name font-size-12 c-gray-darker">担保交易</span>

  </div>
  <div class="goods-content">


  </div>
  <div class="goods-footer">


    <p>
      <a href="#" target="_blank">店铺主页</a>
      <a href="#" target="_blank">会员中心</a>
      <a href="javascript:;" class="js-open-follow">关注我们</a>
    </p>

    <p>
      <a href="#" target="_blank">凡益信息科技(上海)有限公司技术支持</a>
    </p>

  </div>
  <div class="goods-bottom">
    <p id="showActionSheet">
      <a href="javascript:;" >立即购买</a>
    </p>


    <p style="background-color: white;">
      <a href="javascript:;" style="color: #0c0c0c">加入购物车</a>
    </p>
  </div>
  <div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="mask"></div>
    <div class="weui_actionsheet" id="weui_actionsheet">
      <div class="weui_actionsheet_menu">
        <div class="weui_actionsheet_cell">示例菜单</div>
        <div class="weui_actionsheet_cell">示例菜单</div>
        <div class="weui_actionsheet_cell">示例菜单</div>
        <div class="weui_actionsheet_cell">示例菜单</div>
      </div>
      <div class="weui_actionsheet_action">
        <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
      </div>
    </div>
  </div>
</div>