<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 copyright">
                <p>&copy; 2015 凡益信息科技（上海）有限公司</p>
            </div>
        </div>
    </div>
</div>
